.ant-modal,.editModal {
    .ant-modal-content{
        .ant-modal-body{
            .ant-avatar{height: 50px; width: 50px; display: block; margin: 0 auto;}
        }
        .ant-modal-footer{
            .btn-cancel{
                border-color:#e5e9f2;color:#101924;background-color:#e5e9f2;@include box-shadow(0px, 10px, 15px, rgba(#e5e9f2, 0));
                &:hover,&:focus,&:active,&:not(:disabled):not(.disabled):active {
                    border-color:lighten(#e5e9f2, 5%);@include box-shadow(0px, 10px, 15px, rgba(#e5e9f2, 0.4));
                    outline: none;color: 101924;
                }
            }
        }
    }
    .modal-header{
        h2{margin-bottom: 0; font-size:22px;}
    }
    .modal-body{
        .btn{height: auto; padding: 10px 20px;
            + .btn{margin-left: 15px;}
            &.btn-cancel{
                border-color:#e5e9f2;color:#101924;background-color:#e5e9f2;@include box-shadow(0px, 10px, 15px, rgba(#e5e9f2, 0));
                &:hover,&:focus,&:active,&:not(:disabled):not(.disabled):active {
                    border-color:lighten(#e5e9f2, 5%);@include box-shadow(0px, 10px, 15px, rgba(#e5e9f2, 0.4));
                    outline: none;color: 101924;
                }
            }
        }
    }
}