.customer-modal{
    .modal-body{
        padding:40px;
        .form-group{
            position:relative;
            &.buttonsdiv{
                margin-top:50px;
                .btn{
                    padding:7px 100px;
                }
            }
            label{                    
                &.control-label{
                    color:#a8a4a4;position:absolute;left:0px;top:10px;transition: all .5s; margin-bottom: 0px;
                    .fa{
                        font-size:8px;top:-5px;position:relative;margin-right:7px;
                        &.pickup{
                            color:$black;
                        }
                        &.dropoff{
                            color:red;
                        }
                    }
                }
            }
            .form-control{
                font-size:16px;box-shadow:none;height:auto;
                &.form-control-lg{
                    background-image:linear-gradient(#9c27b0, #9c27b0), linear-gradient(#EEEEEE, #EEEEEE);
                    background-size:0 2px, 100% 1px;
                    background-position:center bottom, center calc(100% - 1px);
                    background-repeat:no-repeat;
                    transition:background 0s ease-out 0s;border:0px;border-radius:2px;padding-left: 0px;
                    position:relative;background-color:transparent;z-index: 10;
                }
                &:focus, &:valid{
                    border-color:$black;
                    box-shadow: none;
                    + label{
                        &.control-label{
                            top:-16px;
                            font-size:14px;
                            z-index: 11;
                            color:$black;
                            .fa{
                                top:-3px;
                                &.dropoff{
                                    color:red;
                                }
                            }
                        }
                    }
                }
                &:focus{
                    &.form-control-lg{
                        background-image: linear-gradient($black , $black), linear-gradient(#d2d2d2, #d2d2d2);
                        background-size: 100% 2px, 100% 1px;
                        box-shadow: none;
                        outline: medium none;
                        transition-duration: 0.3s;
                        border:none;
                    }
                }
            }
        }
    }
}