.rideAssignment{
    .ride_user_details {
        .profile {
            position: relative;
            padding-left: 60px;
            .p_img {
                position: absolute;
                left: 0;
                img {
                    width: 44px;
                    height: 44px;
                }
            }
            .p_content {
                .info {
                    position: relative;
                }
                h6 {
                    margin-bottom: 0;
                    padding-right: 50px;
                }
                .price {
                    font-size: 13px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                .ride {
                    margin-top: 10px;
                }
                .view_info {
                    margin-top: 10px;
                    .btn {
                        font-size: 10px;
                        padding: 4px 10px;
                        line-height: normal;
                    }
                }
            }
        }
    }
    .scheduled {
        position: relative;
        .icon-timer{font-size:24px; margin-right: 15px; color:#405668;}
        .scheduled_time {
            p,
            span {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    .location {
        ul {
            padding-left: 40px;
            position: relative;
            &:before {
                border-left: 2px dashed $grey;
                position: absolute;
                left: 11px;
                height: 100%;
                width: 2px;
                content: "";
                top: 0;
            }
            li {
                position: relative;
                &:after {
                    position: absolute;
                    left: -40px;
                    top:-5px;
                    font-family: 'icomoon';
                    color: $blue-dark;
                    font-size: 24px;
                    background-color: $white;
                    line-height: normal;
                }
                &:first-child {
                    &:after {
                        content: "\e559";
                        height: 26px;
                    }
                }
                +li {
                    margin-top:10px;
                    &:after {
                        content: "\e8b4";
                    }
                }
                &:last-child{
                    &:after {
                       height:calc( 100% + 5px);
                    }
                }

                &:not(:first-child):not(:last-child){
                    h4,p{font-size: 12px;margin-bottom: 0;padding-left: 15px;}
                    &:after{top:-2px;}
                   
                }
            }
        }
    }
    .common_border {
        border-bottom: 1px solid #E9EFE9;
        padding:8px 20px;
    }
    h4,
    p {
        font-size: 14px;
        line-height: 16px;
    }
    h4 {
        color: #9FAAB3;
        margin-bottom: 5px;
    }
    p {
        font-family: $font-heavy;
    }
    .driverlist{
        .select-picker{padding: 0;}
        .btn.btn-outline-danger{
            margin-left: -1px; border-top-left-radius:0;border-bottom-left-radius:0; padding: 11px 15px; font-size:17px;
        }
        .dropdown{
            &.dropdown-inline{display: block; width: 100%;}
            .dropdown-toggle{width: 100%; background:transparent; border: 0; padding-right:30px; text-align: left; color:#000;box-shadow : none !important;
                &:after{border: #000;border-width: 0px 0px 2px 2px;
                    right: 15px;position: absolute;top: 16px; height: 8px;
                    width: 8px;border-style: solid; transform: rotate(-45deg);}
            }
            .dropdown-menu{margin: 0; width: 100%;
                li{
                    padding: 0;background:transparent !important;
                    &.search{padding: 5px 15px; background:transparent !important;}
                    &.empty{padding: 5px 15px;}
                    a{padding: 5px 15px; color:#000; display: block; padding-right: 28px; position: relative;}
                    &.active{
                        a,span{color:#000 !important;}
                    }
                    input[type="checkbox"]{display: none;
                        &:checked~ span{
                            &:after{
                                content: "";position: absolute;
                                right: 15px;border-bottom: 2px solid #000;
                                border-right: 2px solid #000;height: 10px;
                                width: 6px;transform: rotate(45deg);
                                top: 8px;
                            }
                        }
                    }
                }
                .input-group-btn{
                    .btn{padding: 5px 10px; height: 100%;}
                }
            }
        }
    }
}