$white: #ffffff;
$blue: #15b8df;
$black: #161616;
$gray: #434343;
$blue: #2dc4f3;
$green: #73db78;
$red: #ff0000;
$yellow:#161616;
$grey: #999999;
$blue-dark: #405668;
$border-color:  #E8E8E8;
$blue-light: #9faab3;
$grey-bg     :  #F4F4F4;

$imageurl: "/assets/images";
$fonturl: "/assets/fonts";
$font-avereg: "AvenirNextLTPro-Regular";
$font-avemed: "AvenirNextLTPro-MediumCn";
$font-med: "AvenirNextLTPro-MediumCn";
$font-avedemi: "AvenirNextLTPro-Demi";
$font-black: "AvenirNextLTPro-Regular";
$font-heavy: "AvenirNextLTPro-Regular";

// device

$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

// font family

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("#{$fonturl}/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("#{$fonturl}/AvenirNextLTPro-Regular.otf") format("opentype"), url("#{$fonturl}/AvenirNextLTPro-Regular.woff") format("woff"),
    url("#{$fonturl}/AvenirNextLTPro-Regular.ttf") format("truetype"), url("#{$fonturl}/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("#{$fonturl}/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"), url("#{$fonturl}/AvenirNextLTPro-Demi.otf") format("opentype"), url("#{$fonturl}/AvenirNextLTPro-Demi.woff") format("woff"),
    url("#{$fonturl}/AvenirNextLTPro-Demi.ttf") format("truetype"), url("#{$fonturl}/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextLTPro-MediumCn";
  src: url("#{$fonturl}/AvenirNextLTPro-MediumCn.eot?#iefix") format("embedded-opentype"), url("#{$fonturl}/AvenirNextLTPro-MediumCn.otf") format("opentype"), url("#{$fonturl}/AvenirNextLTPro-MediumCn.woff") format("woff"),
    url("#{$fonturl}/AvenirNextLTPro-MediumCn.ttf") format("truetype"), url("#{$fonturl}/AvenirNextLTPro-MediumCn.svg#AvenirNextLTPro-MediumCn") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("#{$fonturl}/materialicons.woff2") format("woff2");
}
