@font-face {
  font-family: 'icomoon';
  src:  url('icomoon-fonts/icomoon.eot?effdco');
  src:  url('icomoon-fonts/icomoon.eot?effdco#iefix') format('embedded-opentype'),
    url('icomoon-fonts/icomoon.ttf?effdco') format('truetype'),
    url('icomoon-fonts/icomoon.woff?effdco') format('woff'),
    url('icomoon-fonts/icomoon.svg?effdco#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Category_Cockpit:before {
  content: "\e900";
}
.icon-Demand_Planning:before {
  content: "\e901";
}
.icon-Materials_Planning:before {
  content: "\e902";
}
.icon-NDP_Procurement:before {
  content: "\e903";
}
.icon-SC_Intelligence:before {
  content: "\e904";
}
.icon-Theatre_Cockpit:before {
  content: "\e905";
}
