@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Light.eot');
    src: url('Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('Roboto/Roboto-Light.woff2') format('woff2'), url('Roboto/Roboto-Light.woff') format('woff'), url('Roboto/Roboto-Light.ttf') format('truetype'), url('Roboto/Roboto-Light.svg#Roboto/Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-LightItalic.eot');
    src: url('Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('Roboto/Roboto-LightItalic.woff2') format('woff2'), url('Roboto/Roboto-LightItalic.woff') format('woff'), url('Roboto/Roboto-LightItalic.ttf') format('truetype'), url('Roboto/Roboto-LightItalic.svg#Roboto/Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.eot');
    src: url('Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('Roboto/Roboto-Regular.woff2') format('woff2'), url('Roboto/Roboto-Regular.woff') format('woff'), url('Roboto/Roboto-Regular.ttf') format('truetype'), url('Roboto/Roboto-Regular.svg#Roboto/Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Italic.eot');
    src: url('Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'), url('Roboto/Roboto-Italic.woff2') format('woff2'), url('Roboto/Roboto-Italic.woff') format('woff'), url('Roboto/Roboto-Italic.ttf') format('truetype'), url('Roboto/Roboto-Italic.svg#Roboto/Roboto-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Medium.eot');
    src: url('Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('Roboto/Roboto-Medium.woff2') format('woff2'), url('Roboto/Roboto-Medium.woff') format('woff'), url('Roboto/Roboto-Medium.ttf') format('truetype'), url('Roboto/Roboto-Medium.svg#Roboto/Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-MediumItalic.eot');
    src: url('Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), url('Roboto/Roboto-MediumItalic.woff2') format('woff2'), url('Roboto/Roboto-MediumItalic.woff') format('woff'), url('Roboto/Roboto-MediumItalic.ttf') format('truetype'), url('Roboto/Roboto-MediumItalic.svg#Roboto/Roboto-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Bold.eot');
    src: url('Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('Roboto/Roboto-Bold.woff2') format('woff2'), url('Roboto/Roboto-Bold.woff') format('woff'), url('Roboto/Roboto-Bold.ttf') format('truetype'), url('Roboto/Roboto-Bold.svg#Roboto/Roboto-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-BoldItalic.eot');
    src: url('Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), url('Roboto/Roboto-BoldItalic.woff2') format('woff2'), url('Roboto/Roboto-BoldItalic.woff') format('woff'), url('Roboto/Roboto-BoldItalic.ttf') format('truetype'), url('Roboto/Roboto-BoldItalic.svg#Roboto/Roboto-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}

html,
body {
    height: 100%;
}

body {
    font-family: "open sans", Arial !important;
	/* font-family: "Roboto", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 14px;
}

body {
    -ms-overflow-style: scrollbar;
    background-color: #FFFFFF;
    overflow-x: hidden;
    color: #000000;
}

.avatar {
    border-radius: 50%;
    width: 44px;
    border: 1px solid #E4B204;
}

.main-container {
    padding: 15px 0px 15px 0px;
    margin: 0 auto;
}



.main-container .row:last-child {
    margin-bottom: 0px;
}

@media (max-width: 767px) {
	.header-logo{
		text-align:center !important;
	}
}

@media (min-width: 1201px) {
    .main-container {
        min-height: calc(100vh - 261px);
    }
}
@media (max-width: 1198px) {
	.dashDropdown{
	width: 290px !important;
	}
}
@media (max-width: 991px) {
	.dashDropdown{
	width: 150px !important;
	}
}

a {
    cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none;
}

.mandatory-star::after {
    content: " *";
    color: red;
}

.dropdown-menu {
    border: medium none;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    -moz-box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
}

.dropdown-menu>li>a,
.firstLevelMenu .dropdown-menu>li>a {
    border-radius: 3px;
    color: inherit;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    font-weight: normal;
}

.firstLevelMenu .dropdown-menu>li>a:focus,
.firstLevelMenu .dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel-indicators li {
    background-color: #000000;
    border: 1px solid #feff05;
}

.carousel-indicators .active {
    background-color: #feff05;
    width: 10px;
    height: 10px;
}

.firstLevelMenu {
    margin: 0;
    padding: 0px 4px;
    width: 100%;
    background-color: #4C555E;
    color: #fff;
}

.firstLevelMenu li {
    list-style: none;
    display: inline-block;
    margin: 7px;
    font-size: 13px;
}

.firstLevelMenu li a {
    color: #fff;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    padding: 4px 8px 4px 8px;
    display: inline-block;
    line-height: 18px;
}

.firstLevelMenu li a i {
    padding-right: 5px;
}

.firstLevelMenu li a i.fa-angle-down {
    font-weight: 700;
}

.firstLevelMenu li.open,
.firstLevelMenu li:hover {
    color: #333333;
    list-style: none;
    border-radius: 13px;
    background: #ffd014;
    background: -moz-linear-gradient(top, #ffa200 0%, #ffd014 100%);
    background: -webkit-linear-gradient(top, #ffa200 0%, #ffd014 100%);
    background: linear-gradient(to bottom, #ffa200 0%, #ffd014 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffa200', endColorstr='#ffd014', GradientType=0);
}

.firstLevelMenu li.open a {
    color: inherit;
}

.firstLevelMenu li:hover a {
    color: inherit;
}

.firstLevelMenu .dropdown-menu {
    top: 34px;
}

.firstLevelMenu .dropdown-menu li {
    display: block;
    margin: 0;
    background: none;
}

.firstLevelMenu .dropdown-menu li>a {
    display: block;
    color: #676a6c;
}

.breadcrumb {
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
    border-radius: 0px;
	color:#333333;
	font-size:2rem;
	font-weight:bold;
	background-color:transparent;
}

.breadcrumb>li {
    color: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.breadcrumb>li>a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: inherit;
    content: ">";
	color:#cccccc;
}
.breadcrumb .active{
	color:#1b6b50 !important;
}

.thirdLevelMenu {
    margin: 0;
    padding: 1px 1px;
    width: 100%;
    background-color: #3A8967;
    color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.5);
}

.thirdLevelMenu li {
    list-style: none;
    display: inline-block;
    margin: 0px;
    font-size: 13px;
}

.thirdLevelMenu li a {
    color: #fff;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 10px;
    display: inline-block;
    line-height: 18px;
}

.thirdLevelMenu li a i {
    padding-right: 5px;
}

.thirdLevelMenu li a:hover {
    background-color: #58CC97;
    border-radius: 3px;
}

.ibox {
    clear: both;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #4C555E;
    border-color: #4C555E;
    border-image: none;
    border-style: solid solid none;
    border-width: 0;
    color: white;
    margin-bottom: 0;
    padding: 8px 15px !important;
    height: 30px;
    line-height: normal;
}

.ibox-content {
    clear: both;
    background-color: #ffffff;
    color: inherit;
    padding: 10px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    outline: none;
}

.ibox-footer {
    color: inherit;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    border-top: 0px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    line-height: 14px;
}

.ibox-title small {
    color: inherit;
}

.ibox .btn {
    margin-bottom: 5px;
}

[class^="col-"] .ibox:last-child {
    margin-bottom: 0px !important;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

ul.unstyled,
ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
}

.panel-title {
    font-size: inherit;
}


/* Tabs */

.nav-tabs>li>a {
    color: #535353;
    font-weight: 500;
    padding: 0;
    background-color: transparent;
    font-size: 12px;
    border: 0 !important;
    margin-right: 10px;
}
.nav-tabs>li.active>a{
	border-bottom:solid 3px #00a3e0 !important;
}

.tabs-container .panel-body {
    background: #fff;
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}

.tabs-container .nav-tabs>li.active>a,
.tabs-container .nav-tabs>li.active>a:hover,
.tabs-container .nav-tabs>li.active>a:focus {
    border: 1px solid #1b6b50;
    border-bottom-color: transparent;
    background-color: #1b6b50;
	color:#ffffff;
}

.tabs-container .nav-tabs>li {
    float: left;
    margin-bottom: -1px; 
}

.tabs-container .tab-pane .panel-body {
    /* border-top: none; */
}

.tabs-container .nav-tabs>li.active>a,
.tabs-container .nav-tabs>li.active>a:hover,
.tabs-container .nav-tabs>li.active>a:focus {
    border: 1px solid #1b6b50;
    border-bottom-color: transparent;
}

.tabs-container .nav-tabs {
    border-bottom: 1px solid #e7eaec;
}

.tabs-container .tab-pane .panel-body {
    /* border-top: none; */
}

.tabs-container .tabs-left .tab-pane .panel-body,
.tabs-container .tabs-right .tab-pane .panel-body {
    border-top: 1px solid #e7eaec;
}

.tabs-container .nav-tabs>li a:hover {
    background: #1b6b50;
    border-color: #1b6b50;
	color:#ffffff;
}

.tabs-container .tabs-below>.nav-tabs,
.tabs-container .tabs-right>.nav-tabs,
.tabs-container .tabs-left>.nav-tabs {
    border-bottom: 0;
}

.tabs-container .tabs-left .panel-body {
    position: static;
}

.tabs-container .tabs-left>.nav-tabs,
.tabs-container .tabs-right>.nav-tabs {
    width: 20%;
}

.tabs-container .tabs-left .panel-body {
    width: 80%;
    margin-left: 20%;
}

.tabs-container .tabs-right .panel-body {
    width: 80%;
    margin-right: 20%;
}

.tabs-container .tab-content>.tab-pane,
.tabs-container .pill-content>.pill-pane {
    display: none;
}

.tabs-container .tab-content>.active,
.tabs-container .pill-content>.active {
    display: block;
}

.tabs-container .tabs-left>.nav-tabs>li,
.tabs-container .tabs-right>.nav-tabs>li {
    float: none;
}

.tabs-container .tabs-left>.nav-tabs>li>a,
.tabs-container .tabs-right>.nav-tabs>li>a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-container .tabs-left>.nav-tabs {
    float: left;
    margin-right: 19px;
}

.tabs-container .tabs-left>.nav-tabs>li>a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-container .tabs-left>.nav-tabs .active>a,
.tabs-container .tabs-left>.nav-tabs .active>a:hover,
.tabs-container .tabs-left>.nav-tabs .active>a:focus {
    border-color: #e7eaec transparent #e7eaec #e7eaec;
}

.tabs-container .tabs-right>.nav-tabs {
    float: right;
    margin-left: 19px;
}

.tabs-container .tabs-right>.nav-tabs>li>a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-container .tabs-right>.nav-tabs .active>a,
.tabs-container .tabs-right>.nav-tabs .active>a:hover,
.tabs-container .tabs-right>.nav-tabs .active>a:focus {
    border-color: #e7eaec #e7eaec #e7eaec transparent;
    z-index: 1;
}

.alert {
    padding: 14px;
    border-radius: 0;
    border-width: 2px;
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}

.modal-fullscreen {
    min-width: calc(100vw - 60px);
}

.modal-header {
    background: #4c555e;
}

.modal-title {
    color: #fff;
}

.modal-content {
    border-radius: 0px;
}

.modal-footer .btn+.btn {
    margin-bottom: 5px !important;
}

.modal-header .close {
    color: #fff;
    text-shadow: 0 1px 0 #000;
    filter: alpha(opacity=40);
    opacity: .4;
}

.modal-header .close:hover {
    filter: alpha(opacity=90);
    opacity: .9;
}

@media (max-width: 767px) {
    
    .tabs-container .nav-tabs>li.active>a {
        border-bottom: 1px solid #e7eaec !important;
        margin: 0;
    }
}

.show-grid {
    margin: 15px 0;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}


/* Helper-classes - Start */


/* MARGINS & PADDINGS */

.p-xxs {
    padding: 5px !important;
}

.p-xs {
    padding: 10px !important;
}

.p-sm {
    padding: 15px !important;
}

.p-m {
    padding: 20px !important;
}

.p-md {
    padding: 25px !important;
}

.p-lg {
    padding: 30px !important;
}

.p-xl {
    padding: 40px !important;
}

.p-w-xs {
    padding: 0 10px !important;
}

.p-w-sm {
    padding: 0 15px !important;
}

.p-w-m {
    padding: 0 20px !important;
}

.p-w-md {
    padding: 0 25px !important;
}

.p-w-lg {
    padding: 0 30px !important;
}

.p-w-xl {
    padding: 0 40px !important;
}

.p-h-xs {
    padding: 10px 0 !important;
}

.p-h-sm {
    padding: 15px 0 !important;
}

.p-h-m {
    padding: 20px 0 !important;
}

.p-h-md {
    padding: 25px 0 !important;
}

.p-h-lg {
    padding: 30px 0 !important;
}

.p-h-xl {
    padding: 40px 0 !important;
}

.m-xxs {
    margin: 2px 4px !important;
}

.m {
    margin: 15px !important;
}

.m-xs {
    margin: 5px !important;
}

.m-sm {
    margin: 10px !important;
}

.m-md {
    margin: 20px !important;
}

.m-lg {
    margin: 30px !important;
}

.m-xl {
    margin: 50px !important;
}

.m-n {
    margin: 0 !important;
}

.m-l-none {
    margin-left: 0 !important;
}

.m-l-xs {
    margin-left: 5px !important;
}

.m-l-sm {
    margin-left: 10px !important;
}

.m-l {
    margin-left: 15px !important;
}

.m-l-md {
    margin-left: 20px !important;
}

.m-l-lg {
    margin-left: 30px !important;
}

.m-l-xl {
    margin-left: 40px !important;
}

.m-l-n-xxs {
    margin-left: -1px !important;
}

.m-l-n-xs {
    margin-left: -5px !important;
}

.m-l-n-sm {
    margin-left: -10px !important;
}

.m-l-n {
    margin-left: -15px !important;
}

.m-l-n-md {
    margin-left: -20px !important;
}

.m-l-n-lg {
    margin-left: -30px !important;
}

.m-l-n-xl {
    margin-left: -40px !important;
}

.m-t-none {
    margin-top: 0 !important;
}

.m-t-xxs {
    margin-top: 1px !important;
}

.m-t-xs {
    margin-top: 5px !important;
}

.m-t-sm {
    margin-top: 10px !important;
}

.m-t {
    margin-top: 15px !important;
}

.m-t-md {
    margin-top: 20px !important;
}

.m-t-lg {
    margin-top: 30px !important;
}

.m-t-xl {
    margin-top: 40px !important;
}

.m-t-n-xxs {
    margin-top: -1px !important;
}

.m-t-n-xs {
    margin-top: -5px !important;
}

.m-t-n-sm {
    margin-top: -10px !important;
}

.m-t-n {
    margin-top: -15px !important;
}

.m-t-n-md {
    margin-top: -20px !important;
}

.m-t-n-lg {
    margin-top: -30px !important;
}

.m-t-n-xl {
    margin-top: -40px !important;
}

.m-r-none {
    margin-right: 0 !important;
}

.m-r-xxs {
    margin-right: 1px !important;
}

.m-r-xs {
    margin-right: 5px !important;
}

.m-r-sm {
    margin-right: 10px !important;
}

.m-r {
    margin-right: 15px !important;
}

.m-r-md {
    margin-right: 20px !important;
}

.m-r-lg {
    margin-right: 30px !important;
}

.m-r-xl {
    margin-right: 40px !important;
}

.m-r-n-xxs {
    margin-right: -1px !important;
}

.m-r-n-xs {
    margin-right: -5px !important;
}

.m-r-n-sm {
    margin-right: -10px !important;
}

.m-r-n {
    margin-right: -15px !important;
}

.m-r-n-md {
    margin-right: -20px !important;
}

.m-r-n-lg {
    margin-right: -30px !important;
}

.m-r-n-xl {
    margin-right: -40px !important;
}

.m-b-none {
    margin-bottom: 0 !important;
}

.m-b-xxs {
    margin-bottom: 1px !important;
}

.m-b-xs {
    margin-bottom: 5px !important;
}

.m-b-sm {
    margin-bottom: 10px !important;
}

.m-b {
    margin-bottom: 15px !important;
}

.m-b-md {
    margin-bottom: 20px !important;
}

.m-b-lg {
    margin-bottom: 30px !important;
}

.m-b-xl {
    margin-bottom: 40px !important;
}

.m-b-n-xxs {
    margin-bottom: -1px !important;
}

.m-b-n-xs {
    margin-bottom: -5px !important;
}

.m-b-n-sm {
    margin-bottom: -10px !important;
}

.m-b-n {
    margin-bottom: -15px !important;
}

.m-b-n-md {
    margin-bottom: -20px !important;
}

.m-b-n-lg {
    margin-bottom: -30px !important;
}

.m-b-n-xl {
    margin-bottom: -40px !important;
}

.space-15 {
    margin: 15px 0 !important;
}

.space-20 {
    margin: 20px 0 !important;
}

.space-25 {
    margin: 25px 0 !important;
}

.space-30 {
    margin: 30px 0 !important;
}

.img-sm {
    width: 32px;
    height: 32px;
}

.img-md {
    width: 64px;
    height: 64px;
}

.img-lg {
    width: 96px;
    height: 96px;
}

.b-r-xs {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.b-r-sm {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.b-r-md {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.b-r-lg {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.b-r-xl {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}

.font-bold {
    font-weight: 600;
}

.font-normal {
    font-weight: 400;
}

.text-uppercase {
    text-transform: uppercase;
}

.font-italic {
    font-style: italic;
}


/* GLOBAL  */

.no-padding {
    padding: 0 !important;
}

.no-borders {
    border: none !important;
}

.no-margins {
    margin: 0 !important;
}

.no-top-border {
    border-top: 0 !important;
}

.ibox-content.text-box {
    padding-bottom: 0;
    padding-top: 15px;
}

.border-left-right {
    border-left: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
}

.border-top-bottom {
    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
}

.border-left {
    border-left: 1px solid #e7eaec;
}

.border-right {
    border-right: 1px solid #e7eaec;
}

.border-top {
    border-top: 1px solid #e7eaec;
}

.border-bottom {
    border-bottom: 1px solid #e7eaec;
}

.border-size-sm {
    border-width: 3px;
}

.border-size-md {
    border-width: 6px;
}

.border-size-lg {
    border-width: 9px;
}

.border-size-xl {
    border-width: 12px;
}

.full-width {
    width: 100% !important;
}

.h-110 {
    min-height: 110px !important;
}

.h-150 {
    min-height: 150px !important;
}

.h-200 {
    min-height: 200px !important;
}

.h-300 {
    min-height: 300px !important;
}

.w-150 {
    min-width: 150px !important;
}

.w-200 {
    min-width: 200px !important;
}

.w-300 {
    min-width: 300px !important;
}

.text-muted {
    color: #777777;
}

.text-primary {
    color: #4C555E;
}

.text-success {
    color: #3c763d;
}

.text-warning {
    color: #8a6d3b;
}

.text-danger {
    color: #a94442;
}

.bg-muted {
    color: #4C555E;
    background-color: #f3f3f4;
    border: 1px solid #dddddd;
}

.bg-primary {
    color: #fff;
    background-color: #4C555E;
    border: 1px solid #333333;
}

.bg-success {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}

.bg-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
}

.bg-danger {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}


/* BACKGROUNDS */

.panel-primary {
    border-color: #4C555E;
}

.panel-primary>.panel-heading {
    background-color: #4C555E;
    border-color: #333333;
    color: #ffffff;
}

.panel-success {
    border-color: #3c763d;
}

.panel-success>.panel-heading {
    background-color: #3c763d;
    border-color: #3c763d;
    color: #ffffff;
}

.panel-warning {
    border-color: #8a6d3b;
}

.panel-warning>.panel-heading {
    background-color: #8a6d3b;
    border-color: #8a6d3b;
    color: #ffffff;
}

.panel-danger {
    border-color: #a94442;
}

.panel-danger>.panel-heading {
    background-color: #a94442;
    border-color: #a94442;
    color: #ffffff;
}

.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}


/* Helper-classes - End */


/* Header-Footer - Start */

header {
    background-color: #ffffff;
    border-radius: 0;
    color: inherit;
    padding: 15px 15px;
	padding-top:0 !important;
	border-bottom:solid 1px #ffffff;
}

.header-logo>img {
    /* width: 288px; */
    /* height: 69px; */
}

header .avatar {
    vertical-align: top;
}

.user-info {
    text-align: right;
    padding-top: 20px;
}

.user-name {
    display: inline-block;
    font-family: inherit;
    font-weight: 400;
    font-size: 15px;
    color: inherit;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.user-name span {
    font-size: 17px;
}

span.user-type {
    font-size: 10px;
    color: inherit;
    display: block;
}

.user-profile-dropdown {
    display: inline-block;
    padding-left: 10px;
    color: inherit;
}

.user-profile-dropdown a {
    color: inherit;
}

.user-profile-dropdown .fa {
    font-size: 28px;
    color: inherit;
    font-weight: 600;
}

.logout {
    display: inline-block;
    position: relative;
    top: -5px;
    padding-left: 20px;
}

/* .logout::before { */
    /* content: ''; */
    /* width: 0px; */
    /* height: 26px; */
    /* position: absolute; */
    /* border-left: 1px solid rgba(51, 51, 51, 0.75); */
    /* top: 12px; */
    /* left: 10px; */
/* } */

.logout a {
    font-family: inherit;
    font-weight: 400;
    font-size: 15px;
    color: inherit;
	color:#ffffff;
}

.logout a:active,
.logout a:focus,
.logout a:hover {
    text-decoration: none;
}

.logout .fa {
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    position: relative;
    top: 3px;
}

.logout .fa:hover {
    background-color: #4C555E;
}

footer {
    background: #333333;
    position: relative;
    padding: 15px;
}

.footer-top-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: -moz-linear-gradient(left, rgba(228, 178, 4, 0) 0%, rgba(228, 178, 4, 0.08) 1%, rgba(228, 178, 4, 0.75) 10%, rgba(228, 178, 4, 1) 15%, rgba(228, 178, 4, 1) 85%, rgba(228, 178, 4, 0.5) 90%, rgba(228, 178, 4, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(228, 178, 4, 0) 0%, rgba(228, 178, 4, 0.08) 1%, rgba(228, 178, 4, 0.75) 10%, rgba(228, 178, 4, 1) 15%, rgba(228, 178, 4, 1) 85%, rgba(228, 178, 4, 0.5) 90%, rgba(228, 178, 4, 0) 100%);
    background: linear-gradient(to right, rgba(228, 178, 4, 0) 0%, rgba(228, 178, 4, 0.08) 1%, rgba(228, 178, 4, 0.75) 10%, rgba(228, 178, 4, 1) 15%, rgba(228, 178, 4, 1) 85%, rgba(228, 178, 4, 0.5) 90%, rgba(228, 178, 4, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00e4b204', endColorstr='#00e4b204', GradientType=1);
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    list-style: none;
    color: #fff;
    display: inline-block;
    margin-bottom: 14px;
}

footer li>a {
    color: inherit;
    font-family: inherit;
    font-weight: 300;
    opacity: 0.85;
}

footer li {
    padding: 0 12px 0 9px;
    border-right: 1px solid rgba(255, 255, 255, 0.75);
}

footer li:first-child {
    padding-left: 0;
}

footer li:last-child {
    border-right: 0px solid #fff;
}

footer li>a:active,
footer li>a:focus,
footer li>a:hover {
    text-decoration: none;
    opacity: 1;
    color: #fff;
}

.copyrights,
.social-links {
    color: #fff;
    font-family: inherit;
    font-weight: 300;
    opacity: 0.85;
}

.social-links a {
    color: #fff;
    font-size: 20px;
    padding-right: 3px;
}

.social-links a:first-child {
    padding-left: 5px;
}

.social-links a:active,
.social-links a:focus,
.social-links a:hover {
    opacity: 1;
}

.social-icons {
    display: inline-block;
    vertical-align: top;
    opacity: 0.7;
    position: relative;
    top: -2px;
}

.copyrights img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    /* margin-left: 10px; */
}

.copyrights span:first-child {
    opacity: 1;
    font-weight: 500;
    padding-right: 3px;
}

.copyrights span:last-child {
    font-weight: 300;
    font-size: 12px;
}

.copyrights span:first-child::after {
    content: "|";
    font-weight: 300;
    padding-left: 3px;
}

.copyrights span:nth-child(2) {
    border-right: 1px solid #fff;
    padding-right: 8px;
    margin-right: 4px;
}

@media (min-width: 1200px) {
    .social-links {
        text-align: right;
    }
}

@media (max-width: 1199px) {
    footer {
        text-align: center;
    }
    .social-links {
        margin-bottom: 10px;
    }
    .social-icons {
        vertical-align: middle;
    }
}

@media (min-width: 768px) and (max-width: 860px) {
    header .header-logo {
        width: 45%;
    }
    header .user-info {
        width: 55%;
    }
    header .logout span {
        padding: 9px;
        position: relative;
        top: 4px;
    }
}

@media (max-width: 767px) {
    header .header-logo {
        text-align: center;
    }
    header .user-info {
        text-align: center;
    }
}

@media (max-width: 452px) {
    .user-profile-dropdown .dropdown-menu {
        left: -100px;
    }
}


/* Header-Footer - End */


/* Dashboard - Start */

.main-container.dashboard {
    padding: 25px 15px;
}

a.dashboard-nav {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    background: #4d545e;
    margin-bottom: 20px;
    font-family: inherit;
    font-weight: 300;
    color: #ffffff;
    font-size: 26px;
    text-align: center;
    padding: 15px;
}

a.dashboard-nav:active,
a.dashboard-nav:focus,
a.dashboard-nav:hover {
    text-decoration: none;
    color: #ffffff;
    background: #ffd014;
    background: -moz-linear-gradient(top, #ffd014 0%, #ffa200 100%);
    background: -webkit-linear-gradient(top, #ffd014 0%, #ffa200 100%);
    background: linear-gradient(to bottom, #ffd014 0%, #ffa200 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffd014', endColorstr='#ffa200', GradientType=0);
}

a.dashboard-nav>span {
    display: block;
    font-size: 60px;
    color: #E4B204;
    padding: 25px;
    margin: 0 auto;
}

a.dashboard-nav:active,
a.dashboard-nav:focus,
a.dashboard-nav:hover,
a.dashboard-nav:active>span,
a.dashboard-nav:focus>span,
a.dashboard-nav:hover>span {
    color: #333333;
}

.dashboard-chart {
    width: 100%;
    border-radius: 10px;
    background: #ffd014;
    background: -moz-linear-gradient(top, #ffd014 0%, #ffa200 100%);
    background: -webkit-linear-gradient(top, #ffd014 0%, #ffa200 100%);
    background: linear-gradient(to bottom, #ffd014 0%, #ffa200 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffd014', endColorstr='#ffa200', GradientType=0);
}

#myChart {
    padding: 20px;
}

.dashboard-chart ul {
    padding: 25px;
    margin-left: 40px;
    color: #333333;
}

.dashboard-chart ul>li {
    margin-bottom: 20px;
}

.dashboard-chart ul>li>p {
    font-size: 10px;
    font-family: inherit;
}

@media screen and (max-width: 1199px) {
    .dashboard-chart {
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .dashboard-chart {
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) {}


/* Dashboard - End */


/* Buttons - Start */

.btn-w-s {
    min-width: 60px;
}

.btn-w-m {
    min-width: 90px;
}

.btn-w-l {
    min-width: 120px;
}

/* .btn { */
    /* display: inline-block; */
    /* padding: 6px 12px; */
    /* margin-bottom: 0; */
    /* font-size: 14px; */
    /* font-weight: 400; */
    /* line-height: 1.42857143; */
    /* border: 1px solid transparent; */
    /* border-radius: 0px; */
/* } */

.btn:focus {
    outline: none !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #037ba8;
	border:solid 1px #08618d;
	border-bottom:solid 3px #08618d;
}

.btn.active,
.btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #ffffff;
    background-color: #08618d;
	border:solid 1px #08618d;
	border-bottom:solid 3px #08618d;
}

.btn-default{
background-color:#ffffff;
border:solid 1px #2f6a81;
border-bottom:solid 3px #2f6a81;	
}
.btn-default:hover{
background-color:#f6f6f6;
border:solid 1px #2f6a81;
border-bottom:solid 3px #2f6a81;	
}

.btn-primary2 {
    color: #ffffff;
    background-color: #00a3e0;
    border-color: #ffffff;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	padding:4px 18px !important;
	font-size:16px !important;
}


.btn-primary2:hover,
.btn-primary2:active,
.btn-primary2:focus,
.btn-primary2.active,
.btn-primary2:active,
.btn-primary2.active.focus,
.btn-primary2.active:focus,
.btn-primary2.active:hover,
.btn-primary2:active.focus,
.btn-primary2:active:focus,
.btn-primary2:active:hover,
.open>.dropdown-toggle.btn-primary2,
.open>.dropdown-toggle.btn-primary2.focus,
.open>.dropdown-toggle.btn-primary2:focus,
.open>.dropdown-toggle.btn-primary2:hover {
    color: #ffffff !important;
    background-color: #028cbf !important;
    border-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	font-size:16px !important;
}

.btn-primary3{
	color: #333333;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:4px 18px !important;
	font-size:16px !important;
	border:solid 1px #028cbf !important;
	background-color:#e3e3e3 !important;
}
.btn-primary3:hover,
.btn-primary3:active,
.btn-primary3:focus,
.btn-primary3.active,
.btn-primary3:active,
.btn-primary3.active.focus,
.btn-primary3.active:focus,
.btn-primary3.active:hover,
.btn-primary3:active.focus,
.btn-primary3:active:focus,
.btn-primary3:active:hover,
.open>.dropdown-toggle.btn-primary3,
.open>.dropdown-toggle.btn-primary3.focus,
.open>.dropdown-toggle.btn-primary3:focus,
.open>.dropdown-toggle.btn-primary3:hover {
    color: #333333;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:4px 18px !important;
	font-size:16px !important;
	border:solid 1px #028cbf !important;
	background-color:#cccccc !important;
}



.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn,
.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    opacity: 1;
    background-color: #B3B3B3;
    border-color: #B3B3B3;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white,
.btn-white:active:focus,
.btn-white:active:hover,
.btn-white.active:hover,
.btn-white.active:focus {
    color: inherit;
    border: 1px solid #d2d2d2;
}

.btn .fa {
    color: #E4B204;
}

.btn:hover .fa,
.btn:active .fa,
.btn:focus .fa,
.btn.active .fa,
.btn:active .fa,
.btn.active.focus .fa,
.btn.active:focus .fa,
.btn.active:hover .fa,
.btn:active.focus .fa,
.btn:active:focus .fa,
.btn:active:hover .fa {
    color: #4C555E;
}


/* Buttons - End */


/* Forms - Start */

.form-group {
    margin-bottom: 8px;
}

.control-label {
    text-align: left !important;
    font-weight: 500;
}

.form-control {
    height: auto;
}

.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 7px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 13px;
    line-height: normal;
}

.form-control,
.form-control:focus {
    box-shadow: none;
}

.form-control:focus {
    border-color: #B3B3B3;
}

input.form-control-static {
    border: none !important;
    outline: none !important;
    cursor: default;
}

.form-control2 {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 4px 10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 13px;
    line-height: normal;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}


/* Custom Select */

.select {
    position: relative;
    line-height: 3.6;
    overflow: hidden;
}


/* Arrow */

.select::after {
    content: '\25BC';
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    padding: 0 9px;
    background: #4c555e;
    color: #FFFFFF;
    pointer-events: none;
    height: 34px;
    font-size: 10px;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: default;
}


/* checkbox */

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    background-color: #fff;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -22px;
    padding-left: 6px;
    padding-top: 2px;
    font-size: 12px;
    color: #555555;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.checkbox input[type="checkbox"]:checked+label::before,
.checkbox input[type="checkbox"]:checked+input+label::before {
    background-color: #4C555E !important;
    border-color: #4C555E !important;
}

.checkbox input[type="checkbox"]:checked+label::after,
.checkbox input[type="checkbox"]:checked+input+label::after {
    color: #ffffff;
}

.checkbox input[type="checkbox"]:checked+label::after,
.checkbox input[type="radio"]:checked+label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled+label,
.checkbox input[type="radio"]:disabled+label {
    opacity: 0.5;
    cursor: default;
}

.checkbox input[type="checkbox"]:disabled+label::before,
.checkbox input[type="radio"]:disabled+label::before {
    background-color: #ffffff;
    cursor: default;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #aaa;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 14px;
    height: 14px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.radio input[type="radio"]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label {
    opacity: 0.5;
    cursor: default;
}

.radio input[type="radio"]:disabled+label::before {
    cursor: default;
}

.radio.radio-inline {
    margin-top: 0;
}

input[type="checkbox"].styled:checked+label:after,
input[type="radio"].styled:checked+label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

input[type="checkbox"] .styled:checked+label::before,
input[type="radio"] .styled:checked+label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked+label::after,
input[type="radio"] .styled:checked+label::after {
    color: #fff;
}

fieldset[disabled] input[type=checkbox],
fieldset[disabled] input[type=radio],
input[type=checkbox].disabled,
input[type=checkbox][disabled],
input[type=radio].disabled,
input[type=radio][disabled] {
    cursor: default;
}

.input-group-addon {
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    background-color: #4c555e;
    border: 1px solid #4c555e;
    border-radius: 0px;
}

th .checkbox input[type="checkbox"]:checked+label::before,
th .checkbox input[type="radio"]:checked+label::before {
    border: 1px solid #cccccc !important;
    background-color: #fff !important;
}

th .checkbox input[type="checkbox"]:checked+label::after,
th .checkbox input[type="radio"]:checked+label::after {
    color: #4c555e;
}


/* Forms - End */


/* Table - Start */

table,
.table {
    border: 0px solid #CCCCCC;
    margin-bottom: 0px !important;
}

thead th,
.thead th {
    padding: 6px 5px !important;
    border-left: solid 1px #cccccc !important;
    border-bottom: solid 1px #e9e9e9 !important;
    background-color: #ffffff !important;
    background-image: none !important;
    font-weight: 400 !important;
    color: #333333;
}
table tbody tr{
	border-top:solid 1px #cccccc;
}

thead th input,
.thead th input {
    color: #676a6c;
}

/* tr:nth-child(even) { */
    /* background-color: #f2f2f2 !important; */
/* } */

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 6px 5px !important;
    line-height: 1.42857143;
    vertical-align: middle;
}
.table>thead>tr>th{
	font-weight:bold !important;
}
.table>tbody>tr>td{
	background-color:#ffffff !important;
}


/* Table - End */


/* Datepicker - Start */

.datepicker-dropdown {
    padding: 4px !important;
}

.datepicker {
    border-radius: 0px;
}

.datepicker table {
    border: none;
}

.datepicker thead th {
    border: none !important;
    background-color: transparent !important;
    background-image: none !important;
    font-weight: 500 !important;
    color: #4c555e;
}

.datepicker tr:nth-child(even) {
    background-color: transparent !important;
}

.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next,
.datepicker tfoot tr th {
    font-size: 14px;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #ccc;
}

.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active {
    color: #fff;
    background-color: #798086;
    border-color: #4C555E;
}

.datepicker table tr td.active:active:hover,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.highlighted.active.focus {
    color: #fff;
    background-color: #4C555E;
    border-color: #4C555E;
}

.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
    color: #fff;
    background-color: #798086;
    border-color: #4C555E;
}

.datepicker table tr td span.active:active:hover,
.datepicker table tr td span.active:hover:active:hover,
.datepicker table tr td span.active.disabled:active:hover,
.datepicker table tr td span.active.disabled:hover:active:hover,
.datepicker table tr td span.active.active:hover,
.datepicker table tr td span.active:hover.active:hover,
.datepicker table tr td span.active.disabled.active:hover,
.datepicker table tr td span.active.disabled:hover.active:hover,
.datepicker table tr td span.active:active:focus,
.datepicker table tr td span.active:hover:active:focus,
.datepicker table tr td span.active.disabled:active:focus,
.datepicker table tr td span.active.disabled:hover:active:focus,
.datepicker table tr td span.active.active:focus,
.datepicker table tr td span.active:hover.active:focus,
.datepicker table tr td span.active.disabled.active:focus,
.datepicker table tr td span.active.disabled:hover.active:focus,
.datepicker table tr td span.active:active.focus,
.datepicker table tr td span.active:hover:active.focus,
.datepicker table tr td span.active.disabled:active.focus,
.datepicker table tr td span.active.disabled:hover:active.focus,
.datepicker table tr td span.active.active.focus,
.datepicker table tr td span.active:hover.active.focus,
.datepicker table tr td span.active.disabled.active.focus,
.datepicker table tr td span.active.disabled:hover.active.focus {
    color: #fff;
    background-color: #4C555E;
    border-color: #4C555E;
    outline: none;
}


/* Datepicker - End */


/* Custom-JQuery-UI - Start */

.ui-accordion .ui-accordion-header {
    color: #676a6c;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: 500;
    margin: 0px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    font-family: 'Roboto';
}

.ui-accordion-header+.ui-accordion-content {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.ui-accordion-header-icon {
    background-image: none !important;
    display: none !important;
}

.ui-accordion .ui-accordion-header~.ui-accordion-header {
    margin-top: 5px !important;
}

.ui-accordion .ui-accordion-header:focus {
    outline: none;
}

.ui-widget-content {
    color: inherit;
}


/* Tabs */

.ui-tabs.ui-widget.ui-widget-content {
    border: 0px solid #c5c5c5;
}

.ui-tabs .ui-tabs-panel {
    padding: 1em 1.4em;
    border: 1px solid #e7eaec;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
}

.ui-widget-header {
    border: 0px solid #dddddd;
    background: transparent;
    color: inherit;
    font-weight: bold;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 10px 20px 10px 25px;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0px;
    padding: 0;
    border: 1px solid transparent;
    background: transparent;
    font-weight: normal;
    color: inherit;
    font-family: 'Roboto';
    font-weight: 500;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    border-bottom-color: transparent;
    color: inherit;
}

.ui-state-active,
.ui-state-hover,
.ui-state-focus,
.ui-state-active a,
.ui-state-hover a,
.ui-state-focus a {
    outline: none !important;
}

.ui-tabs-tab.ui-state-active a {
    border: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    border: 1px solid #e7eaec;
    border-bottom-color: #ffffff;
}

.ui-state-default a,
.ui-state-default a:link {
    color: #b3b3b3;
}

.ui-button.ui-widget.ui-corner-all {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0px;
}

.ui-button,
a.ui-button {
    color: #fff !important;
    background-color: #4C555E !important;
    border-color: #4C555E !important;
}

a.ui-button:hover,
a.ui-button:active,
a.ui-button:focus,
.ui-button:hover,
.ui-button:active,
.ui-button:focus {
    color: #ffffff !important;
    background-color: #E4B204 !important;
    border-color: #4C555E !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.ui-datepicker {
    border: medium none !important;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    -moz-box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    font-size: 12px;
    list-style: none outside none;
    padding: 4px !important;
    text-shadow: none;
}

.ui-datepicker thead th {
    background: transparent !important;
    color: #454545;
    border: none !important;
    font-weight: 600;
    font-size: 13px !important;
}

.ui-datepicker thead th span,
.ui-datepicker .ui-datepicker-title {
    color: #454545;
    font-weight: 600;
    font-size: 13px !important;
}

.ui-datepicker .ui-state-default {
    border: 1px solid transparent;
    background: transparent;
    font-weight: normal;
    color: #454545;
    border-radius: 4px;
}

.ui-datepicker tr:nth-child(even) {
    background-color: transparent !important;
}

.ui-datepicker table tr td:hover {
    background: #eeeeee !important;
    cursor: pointer;
    border-radius: 4px;
}

.ui-datepicker td a {
    text-align: center !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    color: #fff;
    background-color: #798086;
    border-color: #798086;
    border-radius: 4px;
}

.ui-state-highlight:hover,
.ui-widget-content .ui-state-highlight:hover,
.ui-widget-header .ui-state-highlight:hover {
    color: #fff;
    background-color: #4C555E;
    border-color: #4C555E;
    border-radius: 4px;
}

table.ui-datepicker-calendar {
    border: none !important;
}

.ui-slider-handle.ui-state-active {
    background-color: #4C555E !important;
    border-color: #4C555E !important;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 2px !important;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 2px !important;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 2px !important;
}

.ui-datepicker-header.ui-widget-header .ui-state-hover {
    border-color: transparent !important;
}


/* Custom-JQuery-UI - End */


/* Custom-Chosen-UI - Start */

.chosen-container {
    background-color: #FFFFFF !important;
    background-image: none !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.chosen-container-single .chosen-default {
    color: #676a6c !important;
}

.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single {
    height: auto !important;
    border: 1px solid #ccc !important;
    border-radius: 1px !important;
    background: none #FFFFFF !important;
    box-shadow: none !important;
    line-height: 1.42857143 !important;
}

.chosen-container-single .chosen-single {
    padding: 7px 12px !important;
}

.chosen-container-multi .chosen-choices {
    padding: 3px 12px !important;
}

.chosen-container-single .chosen-single div b::after {
    content: '\25BC';
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    padding: 11px 9px 0px 9px;
    background: #4c555e;
    color: #FFFFFF;
    pointer-events: none;
    height: 34px;
    font-size: 10px;
}

.chosen-container-single .chosen-drop {
    border-radius: 1px !important;
}

.chosen-container .chosen-drop {
    border: 1px solid #ccc !important;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #4C555E;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #4C555E), color-stop(90%, #4C555E));
    background-image: linear-gradient(#4C555E 20%, #4C555E 90%);
    color: #fff;
}

.chosen-container-multi .chosen-choices li.search-choice {
    border-radius: 0px !important;
    color: #fff !important;
    background-color: #4C555E !important;
    border-color: #4C555E !important;
    background-image: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 3px 5px 2px 0;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background: url(chosen-sprite-2.png) -42px 1px no-repeat;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background: url(chosen-sprite-2.png) -42px 1px no-repeat;
}


/* @group Retina compatibility */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.5dppx) {
    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
        background-image: url("chosen-sprite-2@2x.png") !important;
    }
}


/* @end */

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 24px !important;
}

.chosen-container-single .chosen-single abbr {
    top: 10px !important;
    right: 35px !important;
}


/* Custom-Chosen-UI - End */

.middle-box {
    margin-top: 140px;
    position: relative;
    top: 50%;
}
.m-l-0{margin-left:0px !important;}
.m-l-5{margin-left:5px !important;}
.m-l-10{margin-left:10px !important;}
.m-l-15{margin-left:15px !important;}
.m-l-20{margin-left:20px !important;}

.m-t-0{margin-top:0px !important;}
.m-t-5{margin-top:5px !important;}
.m-t-10{margin-top:10px !important;}
.m-t-15{margin-top:15px !important;}
.m-t-20{margin-top:20px !important;}

.m-r-0{margin-right:0px !important;}
.m-r-5{margin-right:5px !important;}
.m-r-10{margin-right:10px !important;}
.m-r-15{margin-right:15px !important;}
.m-r-20{margin-right:20px !important;}

.m-b-0{margin-bottom:0px !important;}
.m-b-5{margin-bottom:5px !important;}
.m-b-10{margin-bottom:10px !important;}
.m-b-15{margin-bottom:15px !important;}
.m-b-20{margin-bottom:20px !important;}

.p-l-0{padding-left:0px !important;}
.p-l-5{padding-left:5px !important;}
.p-l-10{padding-left:10px !important;}
.p-l-15{padding-left:15px !important;}
.p-l-20{padding-left:20px !important;}

.p-t-0{padding-top:0px !important;}
.p-t-5{padding-top:5px !important;}
.p-t-10{padding-top:10px !important;}
.p-t-15{padding-top:15px !important;}
.p-t-20{padding-top:20px !important;}

.p-r-0{padding-right:0px !important;}
.p-r-5{padding-right:5px !important;}
.p-r-10{padding-right:10px !important;}
.p-r-15{padding-right:15px !important;}
.p-r-20{padding-right:20px !important;}

.p-b-0{padding-bottom:0px !important;}
.p-b-5{padding-bottom:5px !important;}
.p-b-10{padding-bottom:10px !important;}
.p-b-15{padding-bottom:15px !important;}
.p-b-20{padding-bottom:20px !important;}

.font-12{font-size:12px !important;}
.font-13{font-size:13px !important;}
.font-14{font-size:14px !important;}
.font-15{font-size:15px !important;}
.font-16{font-size:16px !important;}
.font-17{font-size:17px !important;}

.pinkText{
	color:#fb6565 !important;
}

h2{
	margin-top:10px !important;
	color: #333333;
    font-weight: bold;
}
hr{border-top:1px solid #cccccc !important;}
footer{
	background: #007bad !important;
	color:#ffffff;
    padding: 12px 15px 12px 15px !important;
	position: fixed;
    bottom: 0;
    width: 100%;
}
.ftr{
	background: #007bad !important;
	color:#ffffff;
    padding: 12px 15px 12px 15px !important;
}

/*------Left Menu CSS starts-----*/
 /* Left Menu styles*/
    /* Fixed sidenav, full height */
    .sidenav {
        height: 100%;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #e9e9e9;
        overflow-x: hidden;
    }



        /* Style the sidenav links and the dropdown button */
        .sidenav a, .dropdown-btn {
            padding: 11px 16px;
            text-decoration: none;
            color: #ffffff;
            display: block;
            border: none;
            background: #ab131b;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
			border-bottom: solid 1px #cccccc;
        }



            /* On mouse-over */
            .sidenav a:hover, .dropdown-btn:hover {
                color: #000000;
                font-weight: bold;
            }



    /* Main content */
    .main {
        margin-left: 200px; /* Same as the width of the sidenav */
        font-size: 20px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }



    /* Add an active class to the active dropdown button */
    .sidenav .active {
        background-color: #c2000a;
    color: #ffffff;
    font-weight: bold;
    }

.sidenav a{
	background:#e9e9e9 !important;
	color:#333333 !important;
}
.sidenav .dropdown-container a:hover, .sidenav .dropdown-container a:active{
	background-color:#c5c5c5 !important;
	font-weight:bold !important;
}
    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
        display: none;
        background-color: #e9e9e9;
    }

        .dropdown-container .active {
            background-color: #9e2a39;
            color: #ffffff;
            font-weight: normal !important;
        }

    .sidenav .dropdown-container a:hover, .sidenav .dropdown-container a:active {
        background-color: #9e2a39;
        color: #ffffff;
        font-weight: normal !important;
    }



    /* Optional: Style the caret down icon */
    .fa-caret-down {
        float: right;
        padding-right: 0;
        padding-top: 3px;
    }

    .fa-angle-right {
        float: right;
        padding-right: 0;
        padding-top: 3px;
    }

    .fa-angle-down {
        float: right;
        padding-right: 0;
        padding-top: 3px;
    }

/*------Left Menu CSS ends-----*/

.blueLinkBtn{
	color:#008d9a !important;
}
.blueLinkBtn:hover{
	color:#02b1c1 !important;
}
.fontBold{
	font-weight:bold !important;
	color:#000000;
}
.redText{
	color:#cc0000 !important;
}
.blueText{
	color:#007bad !important;
}
.whiteText{
	color:#ffffff !important;
}
.greyStrip{
	background-color:#bbbbbb;
	height:20px;
}
.blueStrip{
	background-color: #0073ad;
    padding: 9px 13px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}
.darkblueStrip{
	background-color:#f7f7f7;
	padding:10px 15px;
}
.pagi .fa-chevron-left, .pagi .fa-chevron-right{
	color:#ab131b !important;
}
.btn-white:focus, .btn-white.active{
	background-color:#ededed !important;
}
.width100perc{
	width:100%;
}

.tabs-container a[aria-expanded="true"]::before{
	content:"";
}
.tabs-container a[aria-expanded="false"]::before{
	content:"";
}
.p-15{
	padding:15px;
}
.p-l-r-15{
	padding-left:15px;
	padding-right:15px;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #028cbf;
  color: #ffffff;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media (max-width:600px){
	#myTopnav .vline{
		display:none;
	}
}

.displayInlineBlock{
	display:inline-block;
}
.blackLinkBtn:link, .blackLinkBtn:visited {
	color:#000000 !important;
}
.blackLinkBtn:hover, .blackLinkBtn:active {
	color:#666666 !important;
}

.thumb0{
	width:222px;
	height:152px;
	text-align:center;
	display:inline-block;
	float:left;
}
.mainIcon0{
	background: url(../images/patients.png) no-repeat;
    width: 170px;
    height: 115px;
    text-align: center;
    margin: 0 auto;
    background-position: center;
}
.thumb1{
	width:240px;
	height:210px;
	text-align:center;
	display:inline-block;
	float:left;
}
.mainIcon1{
	background: url(../images/Rx.png) no-repeat;
    width: 170px;
    height: 115px;
    text-align: center;
    margin: 0 auto;
    background-position: center;
}
.mainIcon2{
	background: url(../images/BV-Status.png) no-repeat;
    width: 170px;
    height: 115px;
    text-align: center;
    margin: 0 auto;
    background-position: center;
}
.mainIcon3{
	background: url(../images/Advocate.png) no-repeat;
    width: 170px;
    height: 115px;
    text-align: center;
    margin: 0 auto;
    background-position: center;
}
.mainIcon4{
	background: url(../images/Prescriptions.png) no-repeat;
    width: 170px;
    height: 115px;
    text-align: center;
    margin: 0 auto;
    background-position: center;
}
.mainIcon5{
	background: url(../images/shipped.png) no-repeat;
    width: 170px;
    height: 115px;
    text-align: center;
    margin: 0 auto;
    background-position: center;
}
.mainIcon6{
	background: url(../images/shipped-icon.png) no-repeat;
    width: 170px;
    height: 115px;
    text-align: center;
    margin: 0 auto;
    background-position: center;
}
.mainIcon7{
	background: url(../images/Complete.png) no-repeat;
    width: 170px;
    height: 115px;
    text-align: center;
    margin: 0 auto;
    background-position: center;
}
.mainIcon8{
	background: url(../images/alerts-dash.png) no-repeat;
    width: 170px;
    height: 115px;
    text-align: center;
    margin: 0 auto;
    background-position: center;
}
.numCircle{
	width: 30px;
	height:30px;
    padding: 5px;
    background-color: #ffffff;
    border: solid 1px #05cfe8;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    position: relative;
    right: -146px;
    top: -33px;
}

.leftCont{
	border: solid 1px #05cfe8;
	text-align:center;
	padding:20px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	overflow:hidden;
}

.clear{
	clear:both;
}
.tab-content>.tab-pane{
	padding:10px 5px 5px 5px;
	font-size:12px;
}
@media (min-width: 768px){
.form-horizontal .control-label2 {
    padding-top: 4px;
    margin-bottom: 0;
    text-align: right !important;
}
}

.p-r-0{padding-right:0 !important;}

.whiteBox{
	background-color:#ffffff;
	padding:15px;
	border:solid 1px #efecec;
	min-height: 61vh;
}
.man-star::after{
	content:"*";
	color:#cc0000;
}
label{
	color:#000000;
}
.ulineBtn{
	color:#000000;
	text-decoration:underline;
}
.ulineBtn:hover{
	color:#666666;
	text-decoration:none;
}
.overflowHidden{overflow:hidden;}

.redTextBtn{
	color:#ff0000 !important;
	padding:3px 6px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#8cd6e7;
	text-decoration: underline !important;
    font-size: 13px;
}
.greenTextBtn{
	color:#118600 !important;
	padding:3px 6px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#8cd6e7;
    font-size: 13px;
	pointer-events:none;
}
.blackTextBtn{
	color:#000000 !important;
	padding:3px 6px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#8cd6e7;
	text-decoration: underline !important;
    font-size: 13px;
}

.navbar-inverse{
	background-color:transparent !important;
	border-color:transparent !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {display: block;}

.navbar-inverse .navbar-nav>li>a:hover{
	background-color:#126284;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.navbar-inverse .navbar-nav>li>a:active, .navbar-inverse .navbar-nav>li>a:visited{
	background-color:#126284;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.dropdown-menu>li>a{
	color:#333333;
}

.dropdown-menu>li>a:hover{
	background-color:#e6e6e6 !important;
}
.navbar-nav>li>a{
	font-weight:normal !important;
	color:#ffffff !important;
}

@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
}

.navbar{
	min-height:auto !important;
}
.table>thead:first-child>tr:first-child>th{
	border-top:solid 1px #cccccc;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus{
	background-color:#efefef !important;
}
.pagination{
	margin-top:5px !important;
	margin-bottom:5px !important;
}
.pagination>.active>span{
	background-color: #007cad !important;
    border-color: #007cad !important;
}
.lightGreyBox{
	background-color:#f7f7f7;
	border:solid 1px #d7d7d7;
	color:#333333;
	padding:6px 10px;
	border-radius:6px;
}
.dashDropdown{
	width: 378px;
    float: left;
    margin-right: 4px !important;
}
.btn{
	padding:5px 10px;
}