@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ry4msm');
  src:  url('../fonts/icomoon.eot?ry4msm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ry4msm') format('truetype'),
    url('../fonts/icomoon.woff?ry4msm') format('woff'),
    url('../fonts/icomoon.svg?ry4msm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call_Center:before {
  content: "\e90d";
}
.icon-coupon:before {
  content: "\e90e";
}
.icon-cross-mark:before {
  content: "\e90f";
}
.icon-manager-avatar:before {
  content: "\e910";
}
.icon-newspaper:before {
  content: "\e911";
}
.icon-rating:before {
  content: "\e912";
}
.icon-cancel-rides:before {
  content: "\e90c";
}
.icon-car:before {
  content: "\e904";
}
.icon-sign-out:before {
  content: "\e905";
  color: #4a4a4a;
}
.icon-profile:before {
  content: "\e906";
  color: #4a4a4a;
}
.icon-location:before {
  content: "\e907";
  color: #4a4a4a;
}
.icon-rides:before {
  content: "\e908";
  color: #4a4a4a;
}
.icon-riders:before {
  content: "\e909";
  color: #4a4a4a;
}
.icon-driving:before {
  content: "\e90a";
  color: #4a4a4a;
}
.icon-vehicles:before {
  content: "\e90b";
  color: #4a4a4a;
}
.icon-frontal-taxi-cab:before {
  content: "\e903";
}
.icon-list:before {
  content: "\e902";
}
.icon-taxi:before {
  content: "\e900";
}
.icon-driver:before {
  content: "\e901";
}
.icon-photo_camera:before {
  content: "\e412";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-add:before {
  content: "\e145";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-attachment:before {
  content: "\e2bc";
}
.icon-av_timer:before {
  content: "\e01b";
}
.icon-chat_bubble:before {
  content: "\e0ca";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-dashboard:before {
  content: "\e871";
}
.icon-date_range:before {
  content: "\e916";
}
.icon-do_not_disturb_alt:before {
  content: "\e611";
}
.icon-done:before {
  content: "\e876";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-star:before {
  content: "\e838";
}
.icon-tag_faces:before {
  content: "\e420";
}
.icon-local_taxi:before {
  content: "\e559";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-navigation:before {
  content: "\e55d";
}
.icon-notifications:before {
  content: "\e7f4";
}
.icon-remove:before {
  content: "\e15b";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-star_half:before {
  content: "\e839";
}
.icon-timer:before {
  content: "\e425";
}
.icon-trending_flat:before {
  content: "\e8e4";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-refresh:before {
  content: "\e5d5";
}
.icon-unfold_more:before {
  content: "\e5d7";
}
.icon-cross:before {
  content: "\ea0f";
}
