.container {
    margin: auto;
}
.title {
    text-align: center;
    font-family: Arial;
    margin-top: 50px;
    margin-bottom: 50px;
}
.accordion__item {
    margin-bottom: 10px;
}
.accordion__item__header {
    background-color: #eaf0f0;
    /* border: solid 1px #dae2e2; */
    padding: 8px 13px;
    cursor: pointer;
    position: relative;
    color: #000000;
    font-family: Arial;
    font-weight: 600;
    font-size: 16px;
}
.accordion__item__header i{
	color:#0072ad;
}
.accordion__item__header::before {
    height: 10px;
    width: 10px;
    content: "";
    position: absolute;
    right: 15px;
    top: 9px;
    transition: 0.5s all;
    transform: rotate(-45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
	border-color:#0073ad;
}
.accordion__item__header.active {
    background-color: #d6e4e4;
    color: #434549;
    transition: 0.4s;
}
.accordion__item__header.active::before {
    transform: rotate(45deg);
    top: 8px;
}
.accordion__item__content {
    padding: 6px 0 6px 0;
    display: none;
}
