.tooltip{
    .tooltip-inner{min-width:250px;}
    .drop-menu{
        .drop-item{
            padding:5px 8px;font-size: 11px;color:$white;
            span{font-weight:bold;}
            &:hover,&:focus,&:active:focus,&:active,&:active:hover{
                background: $black;
            }
            .place-name{
                width:105px;@include text-overflow;
            }

            &.head{
                font-weight:bold;text-decoration:underline;text-transform:uppercase;
            }
            &.total{
                border-top:1px solid $white;
            }
        }
    }
}


// checkbox
.check-select{
    display: block;cursor:pointer;
    input[type="checkbox"]{
        &:checked{
            + .check{
                i{
                    &:before{
                        content:'\e64c';background-color:$black;
                    }
                }
            }
        }
    }
    .check{
        padding-left: 25px;
        i{
            position: relative;
            &:before{
                content:'';display: inline-block;width:18px;height:18px;font-family: 'themify';
                background-color: #cdcdcd;text-align:center;line-height: 18px;position: absolute;top:1px;
                color:$white;font-size: 12px;transition:all 0.5s;left:-25px;
            }
            
        }
    }
}


// radio
.check-radio{
    display: block;cursor:pointer;
    input[type="radio"]{
        &:checked{
            + .check{
                i{
                    &:before{
                        content:'\f111';background-color:$black;
                    }
                }
            }
        }
    }
    .check{
        padding-left: 25px;
        i{
            position: relative;
            &:before{
                content:'';display: inline-block;width:18px;height:18px;font-family: 'FontAwesome';
                background-color: #cdcdcd;text-align:center;line-height: 18px;position: absolute;top:1px;
                color:$white;font-size: 10px;transition:all 0.5s;left:-25px;border-radius:50%;
            }
            
        }
    }
}


body{
    padding-top:55px;background-color:#F0F0F0;
    &.frontend{
        padding-top:67px;
    }
  
}
header{
    .header-navbar{
        box-shadow:2px 4px 20px -4px rgba(0, 0, 0, 0.1);height:55px;margin-left:240px;transition: all 0.5s ease 0s;
        margin-bottom:20px;background-color:$white;
        @media(max-width:575px){
            margin-left:0px;z-index:8;
        }
        .navbar_container{
            .navbar{
                padding:10px 0px;
                .navbar-nav{
                    li{

                        a{
                            padding:6px 10px 6px 0;
                            .icon{
                                font-size:32px;color:$gray;line-height:normal;
                            }
                        }
                    }
                }
                .user_setting{
                    .btn{
                        background:transparent;border:0px;padding:0px;outline:none;
                        &:after{
                            border-top-color:#333;vertical-align: middle;
                        }
                        &:active, &:focus, &:active:focus{
                            outline:none;box-shadow: none;
                        }
                        .user_img{
                            width:30px;height:30px;display:inline-block;margin-right:5px;
                            @include box-shadow(0 0 15px rgba($black,0.2));

                            img{
                                height:100%;width:100%;
                            }
                        }
                        .user_name{
                            font-size:15px;max-width:150px;@include text-overflow();display:inline-block;vertical-align: middle;
                        }
                    }
                    .dropdown-menu{
                        padding:0px;min-width:150px;top:45px;border-radius: 0px;border:0px;transition:all .15s linear;visibility:hidden;opacity:0;display:block;
                        @include box-shadow(0 4px 15px rgba($white,0.5));
                        &.show{
                            visibility: visible;opacity: 1;top:38px;
                        }
                        a{
                            padding:8px 10px;font-size:15px; 
                            i{
                                margin-right:5px;
                            }
                            &:hover{
                                background: #e1e3e9;color:#333;
                            }
                        }
                    }
                }
            }


        }
    }
    .frontend-navbar{
        box-shadow:2px 4px 20px -4px rgba(0, 0, 0, 0.1);margin-bottom:20px;background-color:$white;padding:0px 0;
        .navbar-brand{
            padding:15px 0px;
            img{
                max-width:200px;
            }
        }
        .userprofile{
            .dropdown-toggle{
                background-color:transparent;box-shadow:none;padding:15px 0px;
                img{
                    width:35px;height:35px;margin-right:10px;
                }
            }
            .dropdown-menu{
                left:auto;right:0px;border-radius:0 0 4px 4px;top:-2px !important;border-top:0px;
                a{
                    &:focus{
                        background-color:transparent;
                    }
                }
            }
        }
    }
}

//modal
.common-modal{
    width:700px;
    .modal-header{
        position:relative;
        .close{
            cursor:pointer;position:absolute;right:-10px;top:-10px;opacity:1;
            &:hover,&:focus{
                opacity:1;
            }
        }
    }
}

.side_menu{
    height:100%;position:fixed;width:240px;background-color:$black;
    left:0;top:0;z-index: 9;transition: all 0.5s ease 0s;
    transform: translate3d(0px, 0px, 0px);
  .navbar_header{
           border-bottom: 1px solid rgba($white,0.3);
           text-align:center;box-shadow:2px 4px 20px -4px rgba(0, 0, 0, 0.4);transition: all 0.5s ease 0s;
            a{
                display:block;padding:15px;
            }
            .close-icon{
                position:absolute;right:0;top:-7px;font-size:15px;color:$white;
            }
        }
    .userprofile{
        background-color: #272727;padding: 20px 15px;margin-bottom:10px;
        .userimg{
            padding-right:15px;float:left;
            img{
                width:40px;height:40px;border-radius:50%;

            }

        }
        .content_profile{
            h4{
                font-size:20px;color:$white;font-family:$font-avereg;
                margin-top:0;text-align:center;
            }
            .icon_list{
                margin-left:0;margin-bottom:0;text-align: center;
                li{
                    a{
                        font-size:14px;border:1px solid $white;
                        width:22px;height:22px; 
                        display:block;line-height:23px;color:$white;
                        text-align:center;
                        &:hover{
                            opacity:0.6;
                        }
                    }
                    &.active{
                        display: inline-block;
                    }
                    
                }
            }
        }
    }
    .menu{
        max-height:100%;padding-top: 10px;padding-bottom:100px;
        .mCSB_inside>.mCSB_container{margin-right:0;}
        li{
            a{
                padding:14px 15px; font-family:$font-avereg;color:#a0aab9;
                display:block;font-size:16px;position: relative;
                &:hover{
                    &:before{
                        opacity: 1; -webkit-transform: scaleY(1);
                        -ms-transform: scaleY(1);-o-transform: scaleY(1);transform: scaleY(1);
                    }
                }

                .icon{
                    padding-right:10px;font-size:18px;
                }
                .ti-angle-down{
                    font-size: 14px;margin-top: 5px;
                }

                &:before{
                    content: "";height: 100%;
                    left: 0;opacity: 0;top:0;
                    position: absolute;
                    -webkit-transform: scaleY(0.2);
                    -ms-transform: scaleY(0.2);
                    -o-transform: scaleY(0.2);
                    transform: scaleY(0.2);
                    width:4px;background-color: #009efb;transition:all 0.5s;
                }
            }
            &.active{
                a{
                    color:#d8d8d8;
                    &:before{
                        opacity: 1; -webkit-transform: scaleY(1);
                        -ms-transform: scaleY(1);-o-transform: scaleY(1);transform: scaleY(1);
                    }
                    i{
                        background:#d8d8d8 !important;
                    }
                    .icon{
                        background:transparent !important;
                    }
                }
            }
            &.sidebar-drop{
                > a{
                    .fa-angle-right{float:right;margin-top: 3px;}

                    &[aria-expanded="true"]{
                        .fa-angle-right{
                            &:before{
                                content:'\f107';
                            }
                        } 
                    }
                }
                ul{
                    li{
                        a{
                            position:relative;font-size: 15px;padding-left: 45px;
                            i{
                                position: absolute;content:'';width:6px; height:6px;background:#727f92;border-radius:50%;
                                left: 25px;top: 23px;
                            }
                        }
                    }
                    .sub-sidebar-drop{
                        > a{
                            .fa-angle-down{float:right;margin-top: 3px;} 
                        }
                    }
                }
            }
            .ant-menu{
                background:transparent; color:#a0aab9;
                .ant-menu-submenu{
                    .ant-menu-submenu-title{
                        padding-left: 15px !important; padding-right: 15px !important; font-size:16px;
                        &:active,&:hover,&:focus{
                            background:transparent; color:$white;
                        }
                        i{color:#a0aab9; right: 25px;}
                        .anticon {font-size:18px;}
                    }
                    .ant-menu-sub{
                        .ant-menu-item{height: auto; padding-left: 0 !important; background:transparent !important; outline:none !important;
                            a{line-height:normal; background:transparent !important;
                                &:before{
                                    position: absolute;
                                    content: '';
                                    width: 6px;
                                    height: 6px;
                                    background: #727f92;
                                    border-radius: 50%;
                                    left: 25px;
                                    top: 23px;
                                    transform: scale(1);  opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .collapse,.collapsing{
            ul{
                padding:0;
                li{
                    list-style-type: none;
                    a{
                        padding-left:40px;font-size:14px;

                    }
                }
            }
        }
    }
    .mCSB_inside>.mCSB_container{margin-right: 0;}
}

.page-sidebar-closed{
    .side_menu {
        overflow: hidden;width:0;
        transition: all 0.5s ease 0s;
        transform: translate3d(-250px, 0px, 0px);
    }
    header{
      .header-navbar{margin-left: 0px;}
        .navbar_container{
            margin: 0;
        }
    }
    .maincontent{
        margin-left: 0;
    }
} 

.maincontent{
    margin-left:240px;transition: all 0.3s ease 0s;
    @media(max-width:$screen-md-max){
        margin-left:0px;
    }
    .page_header{
        background-image:url("#{$imageurl}/admin_banner.jpg");
        background-size:cover;background-repeat:no-repeat;
        background-position:30% 70%; height:110px;margin-bottom:30px;

        .page_header_overlay{
            background-color:rgba(0,0,0,0.6);
            height:100%;  width:100%;display:table;
            h2{
                color:$white;font-family:$font-avedemi;margin:0; 
                font-size:20px;display:table-cell;padding-left:20px;
                vertical-align: middle;text-transform:uppercase;
            }
            .back-btn {
                color: $white;
                display: table-cell;
                font-size: 16px;
                text-transform: uppercase;
                vertical-align: middle;text-align:right;padding-right:25px;
            }
        }
        @media (max-width:1366px){
            height:80px;
        }
    }
    .page_content{
        margin-bottom:30px;
        >.container-fluid{padding:0 30px}
        .card{
            border:1px solid #dbe1e8;border-radius:0;box-shadow:none;
            .card-header{
                background-color:#f9f9f9;border-bottom:1px solid #eaedf1;
                .addbtndiv{
                    .btn{
                        padding: 11px 20px;
                        + .btn{margin-left: 10px;}
                    }
                }
                h3{
                    font-family:$font-avedemi;color:$black;
                    margin:0;font-size:20px;display:inline-block;text-transform:uppercase;margin-top: 10px;
                }
                .filter-by{
                    float:left;
                    label{font-size:16px;margin-right: 10px;}
                    select{
                        height: 40px;font-size:14px;
                    }
                }


                .action{
                    float:right;
                    a{
                        &.btn-primary{
                            font-size:16px;padding:8px 20px;line-height:20px;
                            border-radius:2px;
                        }
                    }
                    .message-icon{
                        margin-left:20px;
                        a{
                            font-size:20px; color:#686868;
                            vertical-align:middle;
                            padding-top:6px;
                            &:hover{
                                color:#02aadb;
                                text-decoration:none;
                            }
                        }
                    }
                    .searchbar{
                        label{
                            color:#686868;display:inline-block;text-transform:uppercase;
                            font-size:15px;font-weight:normal;vertical-align:middle;margin:0;
                        }
                        .form-control{
                            height:40px;display:inline-block;width:230px;vertical-align:middle;
                            font-size:14px;color:$black;padding:5px 10px;
                        }
                        @include placeholder {
                            font-size:14px;
                        }
                        .btn-warning{
                            padding: 3px 12px;cursor:pointer;
                        }
                    }

                }
            }
        }
        .card-block{ 
            padding: 30px;
            @media (max-width:$screen-md-max){
                padding:20px;
            }

            .action-btn{
                float: right;position: relative;top: -20px;
                .btn{
                    padding: 10px 15px;line-height:0; color: #fff;margin-left: 5px;
                }
                &.p-relative{
                    position: relative !important; top:inherit !important;right:inherit !important;margin-bottom: 25px;
                }
            }

            .filter{
                .bootstrap-select{
                    height:45px;
                    .dropdown-menu > li > a{
                        font-size:16px;
                    }
                    .dropdown-toggle{
                        height:43px;
                    }
                    @include placeholder {
                        font-size:14px;
                    }

                }
                .btn-warning{
                    width:120px;height:45px;
                }
            }
        }
    }
    @media(max-width:$screen-md-max){
        .page_header{
            .page_header_overlay{
                h2{
                    font-size:18px;
                }
                .back-btn{
                    font-size:15px;
                }
            }

        }
        .page_content{
            .card{
                .card-header{
                    h3{font-size:18px;}
                    .action{
                        .addbtndiv{
                            a{
                                font-size:14px;padding:11px 14px; 
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width:480px){
        .page_content{
            .card{
                .card-header{
                    .action{
                        .addbtndiv{
                            a{margin-top: 5px;}
                        }
                    }
                }
            }
        }
    }
    @media(max-width:$screen-xs-max){
        .card-header{
            padding:15px;
        }
        .page_header{
            height:60px;margin-bottom: 15px;
            .page_header_overlay{
                h2{
                    font-size:16px;padding-left:15px;
                }
                .back-btn{
                    padding-right: 15px;
                }
            }

        }
        .page_content{
            margin-bottom: 15px;
            >.container-fluid{
                padding:0 15px;
            }
            .card{
                margin-bottom: 15px;
                .card-header{
                    h3{
                        font-size:16px;
                    }
                    .addbtndiv{
                        display: block;margin-bottom:10px;
                    }
                    .filter-by{
                        float:none;display: block;
                        .form-group{
                            margin-bottom: 20px;
                        }
                    }
                }
                .card-block{
                    padding:15px;
                }
            }
        }
    }
    @media(max-width:479px){
        .page_header{
            .page_header_overlay{
                h2{
                    font-size:15px;
                }
                .back-btn{
                    font-size:14px;width:100px;
                }
            }

        }
        .page_content{
            .card-block{
                .action-btn{
                    float:none;top:-10px;
                }
            }
            .card{
                .card-header{
                    h3{
                        margin-top: 0px;font-size:15px;
                    }
                    .action{
                        float:none;display:block;margin-top: 10px;
                        a{
                            font-size:12px;
                        }
                    }
                }
            }
        }
    }
    @media(max-width:360px){
        .page_content{
            .card{
                .card-header{
                    .action{
                        a{
                            &.btn-primary{
                                padding:6px 15px;font-size:14px; 
                            }
                        }
                        .searchbar{
                            .form-control{
                                width:140px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.material-icons {
    direction: ltr; display: inline-block;  font-family: "Material Icons";
    font-feature-settings: "liga"; font-size: 24px;  font-style: normal;
    font-weight: normal; letter-spacing: normal;  line-height: 1;
    overflow-wrap: normal;  text-transform: none;  white-space: nowrap;
}

.settingicon{
    a{
        display:block;position:fixed; right:0;
        top:50%; background-color:$green; text-align:center;
        color:$white;text-align:center;width:40px;height:40px;
        font-size:22px;
        z-index:1;line-height:45px;
        .ti-spin {
            animation: 2s linear 0s normal none infinite running ti-spin;
            display:inline-block;
        }
    }
}

@keyframes ti-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.commontabs{
    .nav-pills{
        border-bottom:1px solid #cfcfcf;
        li{
            .nav-link{
                font-size:18px;font-family:$font-avereg;
                margin:0;color:#888888;border-bottom:2px solid transparent;

                &:hover, &:focus{
                    color:$black;border-bottom:2px solid $black;
                    background-color:transparent;border-radius:0;
                }
                &.active{
                    color:$black;border-radius:0;
                    background-color:transparent;border-bottom:2px solid $black;
                    &:hover, &:focus{
                        color:$black;border-bottom:2px solid $black;
                        background-color:transparent; border-radius:0;
                    }
                }
            }

        }
    }
    @media(max-width:480px){
        .nav-pills{
            li{
                .nav-link{
                    padding: 8px 4px;font-size:16px; 
                }
            } 
        }
    }
}

.table-responsive{
    .mCSB_horizontal.mCSB_inside>.mCSB_container{margin-bottom:0;}
    .mCSB_scrollTools .mCSB_draggerRail{background-color: rgba(173, 173, 173, 0.4);}
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        background-color: #000; background-color: rgb(236, 135, 14);
    }
    .mCSB_scrollTools.mCSB_scrollTools_horizontal{margin-bottom: 20px;}

    @media(min-width:$screen-md-min){
        display: block;    width: 100%;    overflow-x: auto;
    }
}
.admin_table{
     .table{
         margin-bottom: 45px;
        thead{
            th{
                background-color: rgba(0, 0, 0, 0); border-bottom: 1px solid #e4e7ea;color: #686868;
                white-space: nowrap;  padding:15px 8px;border-top: 0 none;font-size:14px;text-transform:uppercase; outline: none !important;
            }
        }
        tbody{
            tr{
                transition:all 0.3s;
                // &:hover{
                //     background:#f5f5f5;
                // }
            }
            td{
                border-top: 1px solid #e4e7ea;  color: #797979;padding:8px;vertical-align: middle; white-space: nowrap;
                outline: none;
                .taxi-img,.user_img{
                    img{width:90px;}
                }
                .dropdown{
                    display: inline-block;  width: max-content;
                    .custom-drop{
                        background:transparent;border:none;color: #797979;padding:0;
                        &:after{display:none;}
                    }
                    .dropdown-toggle {
                        font-size: 24px;
                        color: $blue-dark;
                        text-decoration: none;
                        display: inherit;
                        line-height: 30px;
                        &:after {
                        display: none;
                        }
                    }
                    .dropdown-menu {
                        padding: 0;
                        min-width: 75px;
                        box-shadow: 0 0 20px rgba($black, 0.1);
                        border: none;
                        border-radius: 0;
                        .dropdown-item {
                        font-size: 13px;
                        padding: 5px 10px;

                        &:active {
                            background-color: #f8f9fa;
                            color: #16181b;
                        }
                        }
                    }
                }

                .action{
                    margin-bottom:0;padding-left:0;
                    li{
                        padding-right:5px;
                        a{
                            font-size:17px; display:block;color:$black;
                            line-height:30px; text-align:center; cursor: pointer;
                            &:hover{
                                color:$black;text-decoration:none;
                            }
                        }
                        .tabl-btn{
                            background: $black;color:$white;text-transform:uppercase;padding: 2px 10px;font-size: 10px;
                            &:hover,&:focus,&:active:focus,&:active,&:active:hover{
                                color:$white;
                            }
                        }
                    }
                }
                a.action{color:$black;}
                .ride-detail{
                    padding-left:0;
                    li{
                        background-repeat: no-repeat;background-position: left center;
                        text-overflow: ellipsis;overflow: hidden;white-space: nowrap;width:280px;
                        // padding: 6px 0 0 25px;
                        // &.from{
                        //     background-image:url('#{$imageurl}/map-mark-ico.png');
                        // }
                        // &.to{
                        //     background-image:url('#{$imageurl}/to-ico.png');
                        // }
                        &.width{width:150px}
                    }
                }

                .time-detail{
                    padding-left:0;
                    li{
                        background-repeat: no-repeat;background-position: left center;
                        text-overflow: ellipsis;overflow: hidden;white-space: nowrap;width: 100%;
                        // padding: 6px 0 0 25px;
                        // &.date{
                        //     background-image:url('#{$imageurl}/calender-ico.png');
                        // }
                        // &.time{
                        //     background-image:url('#{$imageurl}/clock-ico.png');
                        // }
                    }
                }

                .star-rating{
                    color:#f9c801;
                }
                .user_profile,.ant-avatar-image{
                    img{width:44px;height:44px; margin-right: 10px;}
                    h6 , p{font-size: 14px;}
                    h6{font-family: $font-heavy;margin-bottom: 5px; }
                    p{ color:$blue-light;}
                }
                .ant-avatar-image{
                   margin-right: 10px;
                }
            }
        }

        .total-row{
            background: #efefef;
            .font-d{
                font-family:$font-avedemi;
            }
        }

        tr.total{
            td{
                font-family: $font-avedemi;
                &.border-r{
                    border-right:1px solid #e4e7ea !important;
                }

            }
        }
    }
    @media (min-width:1200px) and (max-width:1440px){
        &.table{
            margin-bottom:30px;
        }
    }
    @media(max-width:$screen-md-max){
        &.table{
            margin-bottom: 20px;
            tbody{
                td{
                    .action{
                        li{
                            padding-left:1px;padding-right:1px;
                        }
                    }
                    .dropdown {
                        .dropdown-toggle { font-size: 24px;}
                    }
          
                }
            }
        }
    }
    @media(max-width:$screen-sm-max){
        &.table{
            tbody{
                td{
                    .user_profile {
                    h6 , p{font-size:13px;}
                    }
                }
            }
        }
    }
    @media(max-width:$screen-xs-max){
        &.table{
            thead{
                th{
                    font-size:12px;
                }
            }
            tbody{
                td{
                    .taxi-img{
                        img{
                            width:70px;
                        }
                    }
                }
            }
        }
    }
}

.secondary-table{
    margin-top: 20px;
    tbody{
        tr{
            td{
                font-family: $font-avedemi;
                &.border{
                    border:1px solid #ebebeb !important;
                }
            }
        }
    }
}

.filter_section{
    margin-top:20px;background: #f5f3f3;padding:15px 0;margin:10px;

    .custom-control{
        margin-right: 10px;
        span{font-size: 16px;}
        + .custom-control{margin-left: 20px;}
    }

    .row_wrap{
        padding-right:110px;position:relative;
        .btnsubmit{
            position: absolute;right:0px;top:30px;
            .btn{font-size:14px;padding:11px 18px;}
        }
        &.custom-radio{
            .custom-control{
                margin-top: 12px;
            }
            .btnsubmit{
                top:2px;
            }
        }
    }
    .form-group{
        margin-bottom: 15px;
        .input-daterange{
            .input-group-addon{border: 0; background:transparent;}
        }
        .input-group-addon, label{font-size:14px;}
        .form-control,.ant-input{
            height:40px;font-size:16px;line-height: 17px;
            @media (max-width:$screen-xs-max){
                font-size:14px;
            }
        }
        .ant-form-item .ant-select .ant-select-selector{
            height: 40px;
        }
        @include placeholder {
            font-size:14px;
        }
    }
    .btnsubmit{
        .btn-warning{font-size:14px;padding:11px 18px; height: auto;
        + .btn-warning{margin-left: 10px;}
        }
    }
    .btn-warning{font-size:14px;padding:11px 18px;}
    &.full{
        margin:0;
    }
    @media(min-width:1200px)and(max-width:1280px){
        .custom-control{
            span{font-size: 15px;}
            + .custom-control{margin-left: 10px;}
        }
    }
    @media (max-width:1199px){
        margin-bottom:15px; 
        .form-group{
            .form-control{font-size:15px;}
        }
    }
    @media (max-width:480px){
        .row_wrap{
            padding-right: 0px;padding-bottom: 50px;
            .btnsubmit{
                right:inherit;top:inherit;left:50%;transform: translateX(-50%);bottom:10px;
                .btn-warning{font-size:13px;}
            }
        }
    }
}

.tableview{
    &.table{
        tr{
            border-bottom: 1px solid #e4e7ea;
            &:last-child{
                border-bottom:none;
            }
        }
        th{
            background-color: rgba(0, 0, 0, 0); color: #686868;
            white-space: nowrap;  padding:15px 8px;border-top:none;
            text-transform:uppercase; width:30%;
        }
        td{
            color: #797979;padding:8px;vertical-align: middle;
            border-top:none;
        }
    }
} 

.commoncheck-wrap {
  position: relative;display: inline-block; width:35px;height:8px;margin-bottom: 0; margin-top: 5px;
  input {
    display:none;
    &:checked{
        + .slider{
            background-color:#f9be76;
            &:before{
                -webkit-transform: translateX(20px); -ms-transform: translateX(20px);  transform: translateX(20px);
                background-color: #f7941d;
            }
        }
    }
    &:focus{
        + .slider{
            box-shadow: 0 0 1px #2196F3;
        }
    }
  }

  .slider {
    position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;
    background-color: #edebeb;-webkit-transition: .4s;transition: .4s;
    &:before{
        position: absolute; content: "";height:16px;width:16px;left: 0px;
        bottom: -4px; background-color: #ccc; -webkit-transition: .4s;transition: .4s;
    }
    &.round{
        border-radius: 34px;
        &:before{
            border-radius: 50%;
        }
    }
  }

    
}


.statusbtn {
    width:170px;margin-left:0px;
    .status-chk{
        display:block;width:50%;float:left; margin-left: -1px; 
        &.enable{
            label{
                border-radius:25px 0 0 25px;border:solid 1px $blue;color:$blue;
            }
        }
        input[type=radio] {display: none;}
        label{
            margin-bottom:0px; width:100%; padding:8px 6px; background:$white; 
            font-size: 10px; font-weight: normal; text-align: center; cursor:pointer;
            text-transform:uppercase;
            &:before { 
                content:"";display: inline-block; position:  absolute;left: 0; background-color:$white;
            }                 
        }
        input[type=radio]:checked + label{background:$blue; z-index:1; position:relative;  border: solid 1px $blue; color:$white;}                
        input[type=checkbox] {display: none;}                
        input[type=checkbox]:checked + label{ background:#e74760;  border: solid 1px #D6D6D6; color:$white;} 
        &.disable{
            label{
                border-radius: 0 25px 25px 0;border:solid 1px #e74760;color:#e74760;
            }
            input[type=radio]:checked + label{ background:#e74760;  border: solid 1px #e74760; color:$white;}     
        }
    }
}
.datatable_pagination{
    /*    display: table;*/
    .left-side{
        float:left;
        .form-control{
            height:40px;font-size:16px;width:70px;display:inline-block;
        }
    }
    nav{
        float:right;margin-top:5px;
        .pagination{
            margin:0;
            li{
                a{
                    border:none; border-radius:0;color:$gray;
                    margin-right: 10px;margin-bottom:10px;background-color:#f9fafc;border:1px solid #eaedf1;
                    padding:11px 15px 10px;font-family:$font-avedemi;

                    &:hover,&:focus,&:active{
                        background-color:$black; color:$white;
                    }
                }
                &.active{
                    a{
                        background-color:$black; color:$white;z-index: 0;
                    }
                }


            }
        } 
    }

    @media(max-width:640px){
        .left-side{
            .form-control{
                height:32px;font-size:13px;
            }
        }
        nav{

            .pagination{
                li{
                    a{
                        margin-right: 4px;padding: 5px 9px 4px;font-size: 16px;line-height: 24px;
                    }
                }
            }
        }
    }

    @media(max-width:576px){
        text-align:center;
        .left-side{
            width:250px;margin: 0 auto;float:none;
        }
        nav{
            margin:15px 0;float:none;
        }
    }
}
.frontend{
    .main-content{
        padding:30px 0;
        .container{
            @media(min-width:1200px){
                width:800px;
            }
        }
        section{
            background-color:#fff;padding:30px;border:1px solid #ddd;min-height:500px;
            .heading{
                margin-bottom:20px;border-bottom: 1px solid #ddd;padding-bottom:10px;
                h2{
                    font-family:$font-avedemi;font-size:22px;margin-bottom:0px;display:inline-block;
                }
                .nowbook{
                    display:inline-block;float:right;margin-top:-6px;
                    .switch {
                        position: relative;display: inline-block;width:90px;height:34px;margin-bottom:0px;
                    }
                    .switch input {display:none;}
                    .slider {
                        position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color:#fff;-webkit-transition: .4s;transition: .4s;
                        border:1px solid #ddd;
                    }
                    .slider:before {
                        position: absolute;content: "";height: 26px;width:50px;left:3px;bottom:3px;background-color:#59C203;-webkit-transition: .4s;transition: .4s;
                        content: 'NOW';color:#fff;font-size: 11px;text-align: center;line-height: 27px;
                    }
                    input:checked + .slider:before {
                        -webkit-transform: translateX(32px);-ms-transform: translateX(32px);transform: translateX(32px);
                        content:"PRE";background-color:$black;
                    }
                    .membermodal{
                        display:inline-block; color:#fff;display:inline-block;background-color:$black;width:34px;height:34px;vertical-align: top;
                        text-align:center;padding-top:5px;font-size:16px;margin-left:10px;
                    }
                }
            }
        }
    }
}


///////////// add css for assign  ride ////@at-root


.dashboard-page {
    .toggle-icon {
        display: none;
    }
    .mapboxgl-map{border-radius: 0 0 12px;}
    @include media-breakpoint-down (md) {
        .close-bar {
            position: relative;
            overflow: hidden;
            .overlay {
                display: block;
            }
            .left {
                left:15px; 
            }
        }
    }
    .card {
        border-radius: 12px;
        height: 935px; 
        .card-header {
            padding: 0 20px;
            height: 64px;
            position: relative;
            z-index: 3;
            border-radius: 12px 12px 0 0;
            @include box-shadow(-4px, 22px, 20px, rgba(213, 208, 208, 0.18));
            @media(min-width: 1200px) and (max-width: 1599px) {
                height: 50px;
            }
            @include media-breakpoint-down (lg) {
                height: 45px;
                padding:0 10px ;
            }
        }
        .card-body{border-radius: 0 0 12px 12px; overflow: hidden; background-color:$white;}
        @include media-breakpoint-down (md) {
            height:774px; box-shadow: none;
            .card-header {
                .toggle-icon {
                    display: inline-block;
                    z-index: 5;
                    position: relative;
                    cursor: pointer; font-size:14px;
                    a {
                        width: 20px;
                        display: block;
                        color: $black;
                        span {
                            background-color: #405668;
                            display: block;
                            height: 2px;
                            width: 100%;
                            @include transition (all, 0.1s);
                            &:nth-child(2) {
                                margin: 4px 0;
                                width: 70%;
                            }
                        }
                        &:hover {
                            span {
                                width: 70%;
                                background-color: red;
                                &:nth-child(2) {
                                    width: 100%;
                                }
                            }
                        }
                        .icon-navigate_before {
                            font-size: 25px;
                        }
                    }
                }
            }
        }

    }

    // left
    .left {
        // ride list
        .profile {
            position: relative; padding-left: 60px; width: 100%;
            .ant-list-item{ 
                border-top: 1px solid #e9efe9;
                padding: 20px;
            }
            .p_img {
                position: absolute;
                left: 0;
                img {
                    width: 44px;
                    height: 44px;
                }
            }
            .p_content {
                .info {
                    position: relative;
                }
                h6 {
                    margin-bottom: 0;
                    padding-right: 50px;
                }
                .price {
                    font-size: 13px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                .ride {
                    margin-top: 10px;
                }
                .view_info {
                    margin-top: 10px;
                    .btn {
                        font-size: 10px;
                        padding: 4px 10px;
                        line-height: normal;
                    }
                    &.scheduled {
                        position: relative;
                        &:after {
                            content: "\e425";
                            position: absolute;
                            left: -50px;
                            font-family: 'icomoon';
                            @include absolutecenter(y);
                            font-size: 24px;
                            color: $red;
                        }
                        .scheduled_time {
                            p,
                            span {
                                font-size: 14px;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
        }
        .ride_list {
            height:100%;
            .card-header {
                .badge {
                    background-color: $green;
                    color: $white;
                    border-radius: 30px;
                    margin-left: 10px;
                    min-width: 28px;
                    font-family: $font-black;
                }
            }
            .card-body{
                height:calc(100% - 64px) ;
                @media (max-width: 1599px) and (min-width: 1200px){
                    height:calc(100% - 50px) ;
                }
                @include media-breakpoint-down (lg) {height:calc(100% - 45px) ;}
            }
            .search {
                position: relative;
                .form-control {
                    border: 0;
                    font-size: 14px;
                    color: $black;
                    border-radius: 0;
                    padding: 24px 52px 24px 20px;
                    &:focus {
                        border-bottom-color: transparent;
                        box-shadow: none;
                    }
                    
                }
                @include placeholder {
                    font-size: 14px;
                    color: #405668;
                }
                .search_btn {
                    @include absolutecenter(y);
                    right: 20px;
                    color: #405668;
                    font-size: 24px;
                    display: block;
                    line-height: 10px;cursor: pointer;
                    &:hover {
                        color: $yellow;
                    }
                }
            }
            perfect-scrollbar {
                max-height: 825px;
            }
            .user_list {
                margin: 0;
                li {
                    border-top: 1px solid #E9EFE9;
                    padding: 20px;
                    background-color: $white;
                }
            }
        }
        // ride user details
        .ride_user_details {
            height:100%;
            .card-header {
                padding: 20px 15px;
                a {
                    color: $black;
                    @include transition(all 0.5s);
                    i {
                        font-size: 16px;
                        display: inline-block;
                        line-height: 10px;
                        vertical-align: sub;
                    }
                    &:hover {
                        color: $yellow;
                    }
                }
                .close_btn {
                    a {
                        i{
                            display: inline-block;  z-index: 5;position: relative; cursor: pointer; font-size:14px;
                        }
                    }
                  
                }
            }
            .card-body {
                h4,
                p {
                    font-size: 14px;
                    line-height: 16px;
                }
                h4 {
                    color: #9FAAB3;
                    margin-bottom: 5px;
                }
                p {
                    font-family: $font-heavy;
                }
                .common_border {
                    border-bottom: 1px solid #E9EFE9;
                    padding:8px 20px;
                }
                // location
                .location {
                    ul {
                        padding-left: 40px;
                        position: relative;
                        &:before {
                            border-left: 2px dashed $grey;
                            position: absolute;
                            left: 11px;
                            height: 100%;
                            width: 2px;
                            content: "";
                            top: 0;
                        }
                        li {
                            position: relative;
                            &:after {
                                position: absolute;
                                left: -40px;
                                top:-5px;
                                font-family: 'icomoon';
                                color: $blue-dark;
                                font-size: 24px;
                                background-color: $white;
                                line-height: normal;
                            }
                            &:first-child {
                                &:after {
                                    content: "\e559";
                                    height: 26px;
                                }
                            }
                            +li {
                                margin-top:10px;
                                &:after {
                                    content: "\e8b4";
                                }
                            }
                            &:last-child{
                                &:after {
                                   height:calc( 100% + 5px);
                                }
                            }

                            &:not(:first-child):not(:last-child){
                                h4,p{font-size: 12px;margin-bottom: 0;padding-left: 15px;}
                                &:after{top:-2px;}
                               
                            }
                        }
                    }
                }
                .assign_info{
                    .driverlist{
                         padding-right:70px; position: relative;
                         .btn-outline-danger{position: absolute;right: 0; top:0; font-size: 20px;padding: 6px 12px;  line-height: 35px; height: 44px;}
                         .text-danger{font-size: 14px;}
                    }
                }
                .scheduled {
                    .icon {
                        color: $red;
                        font-size: 24px;
                        margin-right: 15px;
                    }
                }
                .ride_info{
                    [ion-button]{
                        background: transparent;border: 0;color:$yellow;
                    }
                }
            }
            @include media-breakpoint-down (lg) {
                .card-header {padding: 12px 15px;}
            }
            @include media-breakpoint-down (sm) {
                width: calc(100% - 0%);
                .card-header {
                    justify-content: space-between;
                }
                .card-body {
                    .common_border {
                        padding:8px 15px;
                    }
                }
            }
        }

        .card-body{
            .assign_info{
                .submit_btn{padding-bottom: 15px;}
            }
        }
        @media(max-width:1440px) {
            .profile {
                padding-left: 45px;
                .p_img {
                    img {
                        width: 35px;
                        height: 35px;
                    }
                }
                .p_content {
                    h6 {
                        font-size: 14px;
                    }
                    .date_time {
                        font-size: 12px;
                    }
                    .view_info {
                        &.scheduled {
                            &:after {
                                left: -43px;
                            }
                            .scheduled_time {
                                span {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
            .ride_list {
                .user_list {
                    li {
                        padding: 15px;
                    }
                }
            }
        }
        @include media-breakpoint-down (md) {
            position: absolute;
            left: -100%;
            z-index: 9;
            transition: all 0.4s;
            width: calc(100% - 30px);
            .ride_list {
                .search {
                    .search_btn {
                        right: 15px;
                    }
                }
                .card-header {
                    h6 {
                        padding-left: 15px;
                        font-size: 14px;
                    }
                }
                perfect-scrollbar {
                    max-height:655px;
                }
            }
            .ride_user_details{
                perfect-scrollbar {
                    max-height:550px;
                }
            }
            
        }

        @include media-breakpoint-down(sm){
            .ride_user_details{
                .card-body{
                    .assign_info{
                        .driverlist{
                            .btn-outline-danger{height:40px; line-height: 32px;}
                        }
                    }
                }
            }
        }
       
    }

   

    // right
    .right {
        .card-header {
            .sorting_option {
                li {
                    position: relative;
                    font-size: 12px;
                    margin-right: 15px;
                    padding-left: 20px;
                    a {
                        color: $black;
                        @include transition(all 0.5s);
                    }
                    &:after {
                        width: 10px;
                        height: 10px;
                        left: 0;
                        border-radius: 3px;
                        content: "";
                        @include absolutecenter(y);
                    }
                    &.free {
                        a {
                            &:hover {
                                color: $green;
                            }
                        }
                        &:after {
                            background-color: $green;
                        }
                    }
                    &.busy {
                        a {
                            &:hover {
                                color: $red;
                            }
                        }
                        &:after {
                            background-color: $red;
                        }
                    }
                    &.duty {
                        a {
                            &:hover {
                                color: #999999;
                            }
                        }
                        &:after {
                            background-color: #999999;
                        }
                    }
                }
            }
            .list_view {
                li {
                    a {
                        color: $blue-dark;
                        font-size: 24px;
                        text-align: center;
                        border-style: solid;
                        border-color: $blue-dark;
                        width: 36px;
                        height: 36px;
                        display: inline-block;
                        padding: 0;
                        &:hover {
                            background-color: $blue-dark;
                            color: $white;
                        }
                        &.active {
                            background-color: $blue-dark;
                            color: $white;
                        }
                    }
                    &:first-child {
                        a {
                            border-radius: 5px 0 0px 5px;
                            border-width: 1px 0 1px 1px;
                        }
                    }
                    +li {
                        a {
                            border-radius: 0 5px 5px 0px;
                            border-width: 1px 1px 1px 0;
                        }
                    }
                }
            }
            .back_btn{color: #000000; transition: all 0.5s;}
        }
        #user-location{
            .mapheight {
                .sorting_option{margin:0;}
                @include media-breakpoint-down (sm) {
                    height:716px !important;
                }
            }
        }
        .card-body {
            padding: 0;
           
            
            .location_list {
                .top_heading {
                    padding: 10px 20px;
                    .search {
                        position: relative;
                        width: 255px;
                        .form-control {
                            font-size: 14px;
                            color: $black;
                            border-color: #EAEAEA;
                            border-radius: 5px;
                            padding: 17px 52px 17px 20px;
                            &:focus {
                                border-color: $yellow;
                                box-shadow: none;
                            }
                        }
                        @include placeholder {
                            font-size: 14px;
                            color: #405668;
                        }
                        .search_btn {
                            @include absolutecenter(y);
                            right: 20px;
                            color: #405668;
                            font-size: 24px;
                            display: block;
                            line-height: 10px;
                            &:hover {
                                color: $yellow;
                            }
                        }
                    }
                }
            }
        }
        @media(max-width:1440px) {
            .card-header {
                .list_view {
                    li {
                        a {
                            width: 30px;
                            height: 30px;
                            padding: 2px 0;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down (lg) {
            .card-body {
                .location_list {
                    .top_heading {
                        .search {
                            position: relative;
                            width: 255px;
                            .form-control {
                                padding: 15px 36px 15px 15px;
                            }
                            .search_btn {
                                right: 10px;
                            }
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down (md) {
            .card-header {
                 padding:0 10px !important;
                .sorting_option {
                    li {
                        margin-right: 12px;
                        padding-left: 15px;
                    }
                }
                h6 {
                    padding-left: 15px;
                    font-size: 14px;
                }
                .left-border {
                    &::after {
                        display: none;
                    }
                }
            }
            .card-body {
                .location_list {
                    .top_heading {
                        padding:15px;
                        h6 {
                            padding-left: 15px;
                            font-size: 14px;
                        }
                    }
                }
                
            }
        }
        @include media-breakpoint-down (xs) {
            .card-header {
                padding:10px !important;
                height: auto;
                .left-border {
                    display: inline-block;
                }
                .sorting_option {
                    li {
                        margin-right: 10px;
                        padding-left: 20px
                    }
                }
            }
            .card-body{
                .location_list {
                    .top_heading {
                         h6{padding-left:0;}
                        .search {
                            width: 100%;margin-top:15px;
                            .form-control {
                                padding: 6px 36px 6px 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.admin_ridedetail_page{
    .map{
        .mapboxgl-map{
            height:870px;
            @media (max-width: 1599px) and (min-width: 1200px){
                height: 885px;
            }
            @include media-breakpoint-down(lg){ 
                height:890px;
            }
            @include media-breakpoint-down(md){ 
                height:730px;
            }
        }
    }
}
.font-heavy {
    font-family: $font-heavy;
}

.font-black {
    font-family: $font-black;
}

// heading
.h-18 {
    font-size: 18px;
}

.h-16 {
    font-size: 16px;
}

.h-14 {
    font-size: 14px;
}

.h-12 {
    font-size: 12px;
}
.listScroll{
    max-height: 450px;
}
//new css
// page title row
.main-content {
    padding: 60px 100px 30px 350px;
    @include transition(all 0.3s);
    @media(max-width: 1599px) {
        padding: 25px 0px 30px 250px;
    }
    @include media-breakpoint-down(lg) {
        padding: 20px 0px 20px 0;
    }
    @include media-breakpoint-only(sm) {
        padding: 20px 0px 20px 0;
    }
    @include media-breakpoint-only(xs) {
        padding: 15px 0px 20px 0;
    }
}

.page-title-row {
    margin-bottom: 25px;
    .left-side {
        .page-title {
            font-size: 28px;
            font-family: $font-avedemi;
            color: #1D1E1C;
            margin-bottom: 0;
        }
    }
    @media(min-width:1200px) and (max-width:1599px) {}
    @media (max-width:1599px) {
        margin-bottom: 15px;
    }
    @include media-breakpoint-down (lg) {
        .left-side {
            .page-title {
                font-size: 22px;
            }
        }
        .right-side {
            .btn_clumn {
                .btn {
                    height: 30px;
                    width: 30px;
                    padding: 6px;
                    border-radius: 3px;
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down (md) {
        .left-side {
            .page-title {
                font-size: 19px;
            }
        }
    }
    @include media-breakpoint-down (sm) {
        margin-bottom: 10px;
        .left-side {
            .page-title {
                font-size: 17px;
            }
        }
    }
}

.left-border {
    position: relative;
    padding-left: 20px;
    font-family: $font-avedemi;
    &:after {
        content: "";
        width: 4px;
        background-color: $red;
        @include absolutecenter($axis: "y");
        left: 0;
        border-radius: 5px;
        height: 100%;
    }
    @include media-breakpoint-down (md) {
        padding-left: 15px;
        &:after {
            width: 3px;
        }
    }
}

.btn:focus,
.btn.active,
input:focus,
input:hover,
button:focus,
button.focus,
button:hover,
button:active,
button.active,
.selectpicker:focus,
a:focus,
.btn:active:focus {
    @include no-outline();
}

a,
.btn {
    @include transition(all 0.3s ease 0s);
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
        box-shadow: none;
    }
}

//map
#amMap {
    height: 500px;
    @include media-breakpoint-down(lg) {height: 400px;}
    @include media-breakpoint-down (sm) {height: 300px;}
}
//upload doc
.uploadBox{
    &__doc{width: 100%; border-radius:5px; border:1px solid rgba(208,208,209,0.3); padding: 7px 15px 7px 7px; margin-bottom: 20px;
      img{width: 45px; margin-right: 15px;}
      .caption{max-width:85%;}
      h4{font-size:14px; margin: 0px; @include text-overflow;}
      span{font-size:13px;}
      &:not(:last-child){margin-right: 15px;}
  }
  @include media-breakpoint-down(sm){
    &__doc{margin-bottom:15px;
      img{margin-right: 10px;}
    }
    .caption{max-width:80%;}
    h4{font-size:13px;}
  }
}

.ant-dropdown{
    .custom-drop{
        background:transparent;border:none;color: #797979;padding:0;
        &:after{display:none;}
    }

    .ant-dropdown-menu {
        padding: 5px 0;
        min-width: 75px;
        box-shadow: 0 0 20px rgba($black, 0.1);
        border: none;
        border-radius: 0;
        .ant-menu-item{
            margin: 0; padding: 0; line-height: normal; height: auto;
        }
        .dropdown-item {
        font-size: 13px;
        padding: 8px 10px; line-height: normal;

        &:active,&:hover {
            background-color: #f8f9fa;
            color: #16181b;
        }
        }
    }
}
.ant-notification{
    z-index: 1111;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before{
    border-color:$black;
}
.review-text{
    .ant-rate{margin-right: 10px;}
}
//switch
.ant-switch{
    height: 8px; background:#edebeb; box-shadow:none !important; outline: none;
    .ant-switch-handle{height: 16px; width: 16px; left: 0; top: -4px;
        &:before{box-shadow: none; background:#ccc;}
    }
    &-checked{
        background:#f9be76;
        .ant-switch-handle{
            left: auto; right: 0;
            &:before{background:#f7941d;}
        }
    }
}
td.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-selected{
    .ant-picker-cell-inner{
        background:$black; color:#fff;
    }
}
.demo-infinite-container{
    .ant-list-item{ 
        border-top: 1px solid #e9efe9;padding: 20px; border-bottom:0;
    }
}
.ant-spin{
    &.ant-spin-spinning{
        width: 100%; padding: 15px;
        .ant-spin-dot{
            height: auto; width: auto;
            svg{display: none;}
            &:after{
                content: "\f110";
                font-family: 'FontAwesome'; height: auto; width: auto; color: #797979;
            }
        }
    }
}
table tbody td a.action {
    color: #161616;
}