.create-ride-page{
    .form-wrap{
        width: 700px;margin: 0 auto;background-color:$white;padding: 40px 60px;
        border-radius: 5px;@include box-shadow(0,0,13px,rgba($black,0.1));
        .form-section{margin-bottom: 35px;}
        .h-18{margin-bottom: 30px;}
        
        .controller{
            position: relative;
            button{
                background-color:transparent;border:0;@include absolutecenter($axis:"y");
                height:100%;padding:12px;font-weight: bold;transition:all 0.4s;
                &.icon-add{right:0;}
                &.icon-remove{left: 0;}
                &:hover{color:$yellow}
            }
            input{padding-left:40px;padding-right: 40px;text-align: center;}
        }

        .add-location{
            padding-right:70px;
            .add-btn{
                @include absolutecenter($axis:"y");right:0;padding: 7px 15px;
                i{font-weight: bold;font-size: 25px;}
            }
        }
        .contact_error{position: absolute;bottom: -20px;}

        .btn-row{
            .btn{
                width:160px;
                + .btn{margin-left: 15px;}
            }
        }
    }

    @media(min-width:1600px) and (max-width:1680px){
        .form-wrap{
            &.common_box{min-height:260px;}
        }
    }
    @media (max-width:1599px){
        .form-wrap{
            padding: 30px 50px;
            &.common_box{min-height:210px;}
        }
    }
    @include media-breakpoint-down(sm){
        .form-wrap{
            &.common_box{min-height:auto;}
        }
    }

    @include media-breakpoint-down(sm){
        .form-wrap{
            width: auto;padding: 20px 30px;
            .form-section{margin-bottom:25px;}
            .h-18{margin-bottom:20px;}
            .add-location{
                padding-right:60px;
                .add-btn{
                    padding:7px 13px;
                    i{font-size:20px;}
                }
            }
        }
    }

    @media (max-width: 480px){
        .form-wrap{
            padding: 15px;
            .btn-row{
                .btn{width:105px;}
            }
        }
    }
}


.agentRide{
    // custom radio and checkbox
    .custom-radio{
        padding-left: 0px;
        .custom-control-label {
            padding-left: 28px;width:100%; cursor: pointer;
            &:before,&:after { 
                content: ""; border-radius:50%; position: absolute; display: block;
            }
            &:before{
                height:20px;width:20px;border-radius:50%;left:0px;top:1px; border:1px solid $black;
            }
            &:after{
                width:10px;height:10px;background-color:transparent;left:5px;top:6px;
            }
        }
        .custom-control-input:checked~.custom-control-label {
            color:$black;
            &:after {
                background-color:$black;background-image:none;
            }
            &:before {
                border-color: $black;background-color:transparent;
            }
        }
        
        @include media-breakpoint-down(sm){
            .custom-control-label{
                &:before{
                    height:16px;width:16px;top:2px;
                }
                &:after{
                    height:8px;width:8px;top:6px;left:4px; 
                }
            }
        }
    }
  

}