.dashboard_page{


    .info-box{
        @include box-shadow(0 10px 30px rgba($black,0.10));border-radius:5px;
        background: $white;padding:25px 15px;margin-bottom:30px;
        i{margin-bottom: 20px;font-size: 24px;}

        h3{
            color:#2e2e2e;font-size: 16px;font-family:$font-avedemi;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
            padding-bottom: 20px; 
        }

        h2{
            font-size:20px;font-family:$font-avedemi;padding:20px 0 0;border-top:1px solid rgba(#2e2e2e,0.08);
            i{ font-size: 30px;}
            span{
                font-size: 30px;font-family:$font-avedemi;
            }
        }

        p{
            font-size:14px;text-transform:uppercase;color:#2e2e2e;border-top:1px solid rgba(#2e2e2e,0.2);
            margin-bottom: 0;padding-top: 20px;
            span{
                font-family:$font-avedemi;
            }
        }

        // h3{color:$white;font-size: 16px;font-family:$font-avedemi;}

        // h2{
        //     color:$white;font-size:20px;font-family:$font-avedemi;margin:20px 0;
        //     i{ font-size: 30px;}
        //     span{
        //         font-size: 30px;font-family:$font-avedemi;
        //     }
        // }

        // p{
        //     font-size:14px;text-transform:uppercase;color:$white;border-top:1px solid rgba($white,0.2);
        //     margin-bottom: 0;padding-top: 20px;
        //     span{
        //         font-family:$font-avedemi;
        //     }
        // }

        // &.box01{
        //     background: linear-gradient(45deg,#4099ff,#73b4ff);
        // }
        // &.box02{
        //     background: linear-gradient(45deg,#2ed8b6,#59e0c5);
        // }
        // &.box03{
        //     background: linear-gradient(45deg,#FFB64D,#ffcb80);
        // }
        // &.box04{
        //     background: linear-gradient(45deg,#FF5370,#ff869a);
        // }
        // &.box05{
        //     background: linear-gradient(45deg, #6c74cf, #9ea3eb);
        // }
        // &.box06{
        //     background: linear-gradient(45deg, #45d2ff, #7dd4ef);
        // }
        // &.box07{
        //     background: linear-gradient(45deg, #F06292, #f599ba);
        // }
        // &.box08{
        //     background: linear-gradient(45deg, #3fd466, #6ef989);
        // }
        &.box01{h2{color:#4099ff;}}
        &.box02{h2{color:#2ed8b6;}}
        &.box03{h2{color:#FFB64D;}}
        &.box04{h2{color:#FF5370;}}
        &.box05{h2{color:#6c74cf;}}
        &.box06{h2{color:#45d2ff;}}
        &.box07{h2{color:#F06292;}}
        &.box08{h2{color:#3fd466;}}

    }


    .statistics-box{
        margin-bottom: 30px;border-radius:5px;position: relative;
        @include box-shadow(0 0 30px rgba($black,0.1));background: $white;padding:25px 15px;

        @media(max-width:1600px){
            &.custom_height{
                min-height:546px;
            }
        }

        .view-heading{
            font-size:16px;font-family: $font-avedemi;margin-bottom: 20px;text-transform:uppercase;
        }
        
        p.box-info{
            right: 15px;top: 28px;position: absolute;text-transform:uppercase;font-size: 12px;font-family: $font-avedemi;
        }

        


        ul.tip{
            text-align: center;margin-bottom: 0; margin-top: 25px;
            li{
                @media (max-width:1900px){
                    font-size:14px; 
                }
                span{
                    display:inline-block;width:12px;height:12px;margin-right: 6px;

                    &.color01{background:#4099ff}
                    &.color02{background:#2ed8b6}
                    &.color03{background:#FFB64D}
                    &.color04{background:#FF5370}
                    &.color05{background:#6c74cf}
                }
                + li{margin-left: 15px;}
            } 
        }

        .morris-hover{
            .morris-hover-point{
                color:#4099ff !important;
                + .morris-hover-point{
                    color:#2ed8b6 !important;
                    +.morris-hover-point{color:#FF5370 !important}
                }
            }
        }

        &.box-04{
            .map{
                width:100%;
                iframe{
                    width:100%;height:405px;display:block;
                }
            }
        }   

    }
    @media (max-width:1680px){
        .info-box{
            h3{
                font-size:15px;
            }
            h2{
                span{
                    font-size:25px;
                }
            }
        }
        .statistics-box{
            ul.tip{
                li{
                    font-size:13px;
                    + li{margin-left: 8px;}
                } 
            }
        }
    }
    @media (max-width:1440px){
        .info-box{
            h3{
                font-size:13px;
            }
            h2{
                i{font-size:22px;}
                span{
                    font-size:22px;
                }
            }
        }
        .statistics-box{
            .view-heading{
                font-size: 14px;
            }
            ul.tip{
                margin-top:15px; 
            }
        }

    }
    @media (max-width:1366px){

        .statistics-box{
            .view-heading{
                font-size: 13px;
            }
            &.box-04{
                .map{
                    iframe{
                        height:393px;
                    }
                }
            }

        }

    }
    @media (max-width:$screen-md-max){
        .info-box{
            padding:20px 15px;
            h3{font-size:12px;}
        }
          .statistics-box{
            margin-bottom: 30px !important;
            .view-heading{
                font-size: 12px;
            }
            &.custom_height{
                min-height: 500px;
            }
            &.box-04{
                .map{
                    iframe{
                        height:419px;
                    }
                }
        }
       
    }
    }
    @media (max-width:$screen-xs-max){
        .info-box{
            margin-bottom:15px;
        }
        .statistics-box{
            margin-bottom:15px !important;
             &.custom_height{
                min-height: auto;
            }
            .view-heading{
                font-size: 11px;  
            }
            &.box-04{
                .map{
                    iframe{
                        height:350px;
                    }
                }
        }
            ul.tip{
                margin-top: 10px;
                li{
                    font-size:11px;
                     span{height:8px;width:8px;}
                }
            }
        }
    }
    @media (max-width:480px){
        .info-box{
            h2{
                span{
                    font-size:18px;
                }
            }
        }
        .statistics-box{
            .view-heading{
                font-size: 10px;
            }
        }
    }

}