.loginpage{
    background-color:$gray;
    background-image: url('#{$imageurl}/login-bg.jpg');background-size: cover;background-position:center center;
    .loginwrap{
        .content{
            width:380px; height:auto; margin-top:220px; margin-right:auto;
            margin-left:auto;position:relative;
            border-radius: 2px;

            .l_header{
                background-color: $black;border-radius: 2px;
                height: 140px;left: 0;margin: 0 auto;padding:20px;position: absolute;
                right: 0;text-align: center;top: -70px;width: 380px;
                box-shadow:0 -5px 35px 2px rgba(255,255, 255, 0.3), 0 7px 10px -5px rgb(185, 185, 185);
                display:table;
            }
            .l_field{
                padding:140px 40px 50px; background-color:$white;
                border-radius: 2px;box-shadow:0 4px 20px rgba(255, 255, 255, 0.2 );
                .form-group{
                    position:relative;
                    .ant-row.ant-form-item{
                        margin-bottom: 0;
                    }
                    .ant-input-affix-wrapper{border: 0;
                        .ant-input-prefix{display: none;}
                    }
                    .input-group{
                        .input-group-addon{
                            background-color:transparent;border:none;
                            border-radius:none;padding-left:0;
                            i{
                                font-size:26px;
                            }
                        }
                        &.isfocused{
                            i{
                                color:$black;
                            }
                            .form-control,.ant-input{
                                &:focus{
                                    background-image: linear-gradient($black, $black), linear-gradient(#d2d2d2, #d2d2d2);
                                    background-size: 100% 2px, 100% 1px;
                                    box-shadow: none;
                                    outline: medium none;
                                    transition-duration: 0.3s;
                                    border:none;
                                }
                            }
                        }
                    }
                    .form-control,.ant-input{
                        height:50px;font-size:16px;
                        padding-top:2px;color:$black;
                        border:none;
                        background-image:linear-gradient(#9c27b0, #9c27b0), linear-gradient(#d2d2d2, #d2d2d2);
                        background-size:0 2px, 100% 1px;
                        background-position:center bottom, center calc(100% - 1px);
                        background-repeat:no-repeat;
                        transition:background 0s ease-out 0s;
                        font-family:$font-avedemi;

                    }
                    input:-webkit-autofill,
                    input:-webkit-autofill:hover,
                    input:-webkit-autofill:focus,
                    textarea:-webkit-autofill,
                    textarea:-webkit-autofill:hover,
                    textarea:-webkit-autofill:focus {
                        background-color: transparent !important;
                    }
                    @include placeholder {
                        color: $gray;font-size:16px; font-family:$font-avedemi;
                    }                   
                }
                
                .forgot{
                    a{color:$blue}
                }
            }
            .l_footer{
                text-align:center;background-color:$black;
                box-shadow:0 7px 20px -5px rgba(255,255,255, 0.4);
                a{
                    color:$white;font-size:16px;font-family:$font-avedemi;
                }  
                .loginbtn{
                    font-size:20px;color:$white;font-family:$font-avedemi;padding:20px; height: auto;
                    text-align:center;box-shadow: none;cursor:pointer;border:0;background:transparent;
                    &:hover, &:active, &:focus{
                        box-shadow: none;
                    }
                }
                .ant-row.ant-form-item{
                    margin-bottom: 0;
                }
            }
            .lf_logo{
                position:relative;padding-top:80px;
                img{
                    width:210px;
                }
                &:before{
                    border-right: 45px solid rgba(0, 0, 0, 0);border-top: 62px solid #56596A;
                    top: 0;content: "";left: 53px;position: absolute;
                }
            }
        }
    }
    @media(min-width:1270px)and(max-width:1366px){
        .loginwrap{
            .content{
                margin-top:120px;
            }
        }
    }
    @media(min-width:$screen-md-min)and(max-width:$screen-md-max){
        .loginwrap{
            .content{
                margin-top:110px; 
            }
        }
    }
    @media(max-width:$screen-xs-max){
        padding-top:50px;
        .loginwrap{
            .content{
                margin-top:80px;
                .l_header{
                    height:130px;top: -48px;
                }
            }
        }
    }
    @media(max-width:480px){
        .loginwrap{
            .content{
                width:295px;margin-top:50px;
                .lf_logo{
                    padding-bottom:40px;
                    &:before{
                        border-right-width:38px;border-top-width:55px;
                    }
                    img{
                        width:170px;
                    }
                }
                .l_header{
                    height: 95px;top: -48px;width: 285px;
                    h1{
                        font-size:35px;
                    }

                }
                .l_field{
                    padding:100px 20px 20px;
                    .form-group{
                        label{
                            font-size:13px;
                        }
                        .form-control{
                            padding-left:15px;
                            height:45px;
                        }
                    }
                    .loginbtn{
                        font-size:18px;
                    }
                }
                .l_footer{
                    padding:15px;
                    a{
                        font-size:14px;
                    }
                }

            }
        }
    }
}

.fp_password{
    .loginwrap{
        .content{
            .l_header{
                .l_field{
                    .form-group{
                        .form-control{
                            padding-left:70px;
                        }
                    } 
                } 
            } 
        } 
    } 
}