.view-page {
    .page_content {
        .card-block {
            &.ride-detail {
                padding: 0;
				.left-section{
					padding-right: 0;
					.search {
						padding: 10px 15px;background-color: #f5f5f5;border-bottom: 1px solid #ebebeb;border-right: 1px solid #ebebeb;
						.input-group{
							.form-control{
								background-color: #f5f5f5;border: none;font-size: 20px;
							}
							.input-group-btn{
								.btn-secondary{
									background-color: #f5f5f5;border: none;cursor: pointer;
									&:focus,&:hover{
										box-shadow: none;opacity: 0.8;
									}
									img{
										width: 25px;
									}
								}
							}
						}
					}
					.sort-by{
						background-color: #f5f5f5;border-right: 1px solid #ebebeb;clear: both;
						.commoncheck-wrap{
							width: 100%;overflow-x: scroll;white-space: nowrap;height:auto;
							.common-chk{
								width:auto;float: none;display: inline-block;margin-left: -4px;
								label{
									cursor:pointer;background-color: #fff;font-size: 14px;border-left: 1px solid #ebebeb;font-family: $font-avemed;color: #7e7e7e;padding: 8px 15px;
									&:first-child{
										border-left: none;
									}
								}
								input[type=radio]{
									&:checked{
										+ label{
											background-color: $black;border-color: $black;color: #fff;
										}
									}
								}
							}
						}
					}
					.form-control {
						height: 40px !important;
						font-size: 16px;
					}
					.ride-short {
						background-color: #f5f5f5;
						border-right: 1px solid #ebebeb;
						max-height: 690px;min-height: 690px;overflow-y: auto;

						> ul {
							margin-bottom: 0px;padding: 0;
							> li {
								float: none;
								display: block;
								width: 100%;
								&+li {
									border-bottom: 1px solid #ebebeb;
								}
								&.canceled{
									a{
										border: 1px solid #ec3e21;
									}
								}
								a {
									text-decoration: none;
									display: block;
									padding: 15px 20px;
									position: relative;
									border-radius: 0;color: #7e7e7e;font-size: 16px;
									.inner {
                                        ul{   
                                            padding: 0;
                                               li{
                                                background-repeat: no-repeat;background-position: left center;padding: 6px 0 0 25px;
                                                    text-overflow: ellipsis;overflow: hidden;white-space: nowrap;width: 100%;
                                                &.from{
                                                    background-image: url("#{$imageurl}/map-mark-ico.png");
                                                }
                                                &.to{
                                                    background-image: url("#{$imageurl}/to-ico.png");
                                                }
                                                &.date{
                                                    background-image: url("#{$imageurl}/calender-ico.png");
                                                }
                                               span{
                                                   font-family: $font-avemed;
                                               }
                                            }
                                        }
									&.active {

										background-color: #fff;
										.inner {

										}
									}
								}

								}

							}
						}
					}
				}
				.right-section{
					padding-left: 0;
					.tab-content {
						padding: 35px 0 0;
						.tab-pane{
							.detail{
								padding: 0 30px;
								.avtar {
									img {
										border: 1px solid #ebebeb;width: 80px;height: 80px; border-radius: 50%;display: inline-block;vertical-align: middle;
									}
									p{
										font-family: $font-avemed;color: #555;font-size: 16px;margin-top: 10px;
									}
								}
								
									.form-group{
										margin-bottom: 10px;
										.control-label{
											font-size: 16px;color:#555;margin-bottom: 5px;font-weight: bold;
										}
										.form-control-static{
											font-size: 16px;color: #7e7e7e;margin: 0;border: 1px solid #ebebeb;width: 100%;
											padding:10px 8px;
										}
                                                                                @media  (max-width:1366px){
                                                                                   .control-label{
                                                                                        font-size:14px;
                                                                                    }
                                                                                    .form-control-static{
                                                                                        font-size:13px;
                                                                                    }
                                                                                }
									}
								
							}
							.map{
								border: 2px solid #ebebeb;display: block;width: 100%;margin-top: 40px;
								iframe{
									width: 100%; height: 360px;display: block;
								}
							}
						}
					}
				}
				@media(min-width:1280px)and(max-width:1366px){
					.left-section{
						.ride-short {
							ul { 
								li{
									a {
										font-size: 15px;
									}
								}
							}
						}	
					}
					.tab-content {
						.tab-pane {
							.form-horizontal{
								.form-group{
									.control-label{
										font-size: 16px;
										
									}
									.form-control-static{
										font-size: 16px;
									}
								}
							}
						}
					}
				}
				@media(min-width:$screen-md-min)and(max-width:$screen-md-max){
					
					.left-section{
						.ride-short {
							ul {
								&.list-unstyled{
									max-height: 1024px;min-height: 1024px;
								}
								li{
									a {
										font-size: 14px;
									}
								}
							}
						}
					}	
					.right-section{
						.tab-content {
							.tab-pane {
								.form-group{
									.control-label{
										font-size: 16px;
										span{
											display: none;
										}
									}
									.form-control-static{
										font-size: 16px;
									}
								}
								.map{

									iframe{
										height: 352px;
                                    }
								}
							}
							
						}
					}
				}
				@media(min-width:$screen-sm-min)and(max-width:$screen-sm-max){
					.left-section{
						.ride-short {
							ul {
								&.list-unstyled{
									max-height: 983px;min-height: 983px;
								}
								li{
									a {
										font-size: 14px;
									}
								}
							}
						}
					}
					.right-section{
						.tab-content {
							.tab-pane {
								.detail{
									.form-group{
										.control-label{
											font-size: 14px;
										}
										.form-control-static{
											font-size: 13px;
										}
									}
								}
							}
						}
					}
				}
				@media(max-width:$screen-xs-max){
					.left-section{
						padding-right: 15px;
						.sort-by{
							.commoncheck-wrap{
								.common-chk{
									label{
										font-size: 12px;
                                    }
								}
							}
						}
						.ride-short {
							ul { 
								li{
									a {
										font-size: 12px;
									}
								}
							}
						}
						.search{
							.input-group{
								.form-control{
									font-size: 16px;
								}
								.input-group-btn{
									.btn-secondary{
										img{
											width: 23px;
										}
									}
								}
							}
						}
					}
					.right-section{
						padding-left: 15px;
						.tab-content {
							padding: 15px;
							.tab-pane {
								.detail{
									padding: 0;
									.media{
										display: block;
									}
									.form-group{
										.control-label{
											font-size: 14px;
										}
										.form-control-static{
											font-size: 14px;
										}
									}
								}
								.map{
									margin-top: 15px;
								}
							}
						}
					}
				}
            }
        }
    }
}