.view-p{
    .page_content{
        .view-heading{
            font-size:16px;font-family: $font-avedemi;margin-bottom: 20px;
        }
        .top-info{
            margin: 0 15px;
            .box{
                background:$white;@include box-shadow(0 0 30px rgba($black,0.06));
                padding:20px;border-radius:10px;
                a.user-img{
                    display:inline-block;width:130px;height:130px;overflow:hidden;
                    // @include box-shadow(0 0 30px rgba($black,0.1));
                    img{width:100%;} 
                } 
                .info-set{
                    margin-bottom: 15px;
                    p{font-family: $font-avereg;;color:#2e2e2e;margin-bottom: 0;text-transform: uppercase;font-size: 12px;@include text-overflow();}
                    span{font-family: $font-avedemi;font-size: 16px;@include text-overflow();display:block;}
                    .subtext{font-size:9px;}
                    .btn-success{border-radius:0;font-size: 12px;padding: 8px 15px;text-transform: uppercase;}
                }

                .ride-detail{
                    padding-left:0;
                    li{
                        font-family: $font-avedemi;font-size: 16px;
                        background-repeat: no-repeat;background-position: left center;padding: 6px 0 0 25px;
                        text-overflow: ellipsis;overflow: hidden;width: 100%;
                        &.from{
                            background-image:url('#{$imageurl}/map-mark-ico.png');
                        }
                        &.to{
                            background-image:url('#{$imageurl}/to-ico.png');
                        }
                    }
                }

                .time-detail{
                    padding-left:0;
                    li{
                        font-family: $font-avedemi;font-size: 16px;
                        background-repeat: no-repeat;background-position: left center;padding: 6px 0 0 25px;
                        text-overflow: ellipsis;overflow: hidden;white-space: nowrap;width: 100%;
                        &.date{
                            background-image:url('#{$imageurl}/calender-ico.png');
                        }
                        &.time{
                            background-image:url('#{$imageurl}/clock-ico.png');
                        }
                    }
                }
                @media(min-width:1441px)and(max-width:1680px){
                    a.user-img{
                        width:110px;height:110px;
                    }
                }
                @media(min-width:1200px)and(max-width:1440px){

                }

                &.custom-height{
                    min-height:360px;
                }
            }

            .user-detail{
                min-height:305px;
                .left-side{
                    text-align: center;
                    .star-rating{color:#f9c801;margin-top: 15px;font-size: 20px;;}
                    .vehicle-text{font-family: "AvenirNextLTPro-Demi";margin-top: 10px;color:#f79928;}
                    position: relative;
                }

                .right-side{
                    padding-left: 20px;font-family: $font-avedemi;font-size: 16px;
                }

                @media(min-width:1441px)and(max-width:1600px){
                    .left-side{
                        .star-rating{font-size:16px;}
                    }
                }

                @media(min-width:1200px)and(max-width:1440px){

                }
            }

            .referr-detail{
                min-height:305px;
                background-image:url("#{$imageurl}/joint.png");background-repeat:no-repeat;background-size: auto;background-position: center center;
                .left-side{
                    width:180px;text-align:center;margin-top: 25px;
                }
                .right-side{
                    width:180px;float:right;text-align:center;margin-top: 25px;
                }
                .user-infoo{
                    font-family: $font-avedemi;
                    h2{font-size: 18px;text-transform:uppercase;margin-top: 8px;@include text-overflow();}
                    h3{color:#f79928;font-size: 16px;@include text-overflow();}
                }
            }

            .fare-detail{
                .fare-row{
                    margin-bottom: 9px;
                    .labeling{
                        font-size: 11px;text-transform:uppercase;
                        span{float:right;}
                    }
                    .value{
                        font-family: $font-avedemi;font-size: 16px;text-align:right;
                        @media (min-width:1200px) and (max-width:1366px){
                            font-size:11px !important;
                        }
                    }
                    &.total{
                        border-top: 1px solid #d8d8d8;padding-top: 15px;
                    }
                }
            }
        }

        .view-grid{
            margin-top: 30px;@include box-shadow(0 0 30px rgba($black,0.06));border-radius:10px;
            background: $white; padding:20px;
            
            .action-btn{
                float:right;margin-bottom: 20px;
                .btn{
                    padding: 10px 15px;line-height:0;
                }
            }

            .tab-view{
                .nav-tabs{
                    .nav-item{
                        a{
                            padding: 15px 30px;border-radius: 0;border: transparent;border-bottom-width:3px;color:$black;position: relative;font-family:$font-avedemi;text-transform:uppercase;
                            &:after{
                                width:0%;content:'';height:3px;background:$black;left:0;bottom:0;display:block;position: absolute;transition:width 0.5s;
                            }
                            &.active{
                                &:after{
                                    width:100%;
                                }
                            }
                        }
                    }
                }
            }

            .tab-in-tab{
                .nav{
                    border-bottom:none;
                    li.nav-item{
                        cursor:pointer;
                        @media(min-width:$screen-sm-min){
                            width:200px;text-align:center;
                        }
                        a{
                            border-radius: 0;font-family:$font-avedemi;text-transform:uppercase;color:$black;
                            border:1px solid $gray;padding: 10px 15px;font-size: 14px;
                            &.activee{
                                background: $black;color:$white;
                            }
                        }
                    }
                }
            }

            .tab-pane{
                position: relative;
                .action-btn{
                    position: absolute;right:0;top:-70px;
                    a{
                        padding: 10px 15px;
                        line-height: 0;
                    }
                }

                .doc-wrapper{ 
                    .doc-set{
                        margin-bottom: 20px;
                        p{font-size:16px;font-weight: bold;margin-bottom: 5px;@include text-overflow();}
                        a{
                            display:block;width:100%;height:240px;padding:10px;
                            border: 1px solid #ddd;border-radius: 10px;overflow: hidden;text-align: center;background-color: #fbfbfb;
                            img{
                                height:100%;
                            }
                        }
                    }
                }
            }

        }
        @media (min-width:$screen-md-min)and(max-width:1600px){
            .top-info{
                .referr-detail{
                    background-size:75%;
                    a.user-img{
                        width:130px !important;height:130px !important; 
                    }
                }
            }
        }
        @media (max-width:1440px){
            .view-heading{
                font-size:14px;
            }
            .view-grid {
                padding:15px;
                .tab-view {
                    .nav-tabs {
                        .nav-item{
                            a{
                                font-size:15px;padding:10px 15px;
                            }
                        }  
                    }
                }
                .tab-pane{
                    .doc-wrapper {
                        .doc-set{
                            a{
                                height:185px;
                            }
                        }
                    }
                }
            }
            .top-info{
                .box{
                    padding:15px 10px 10px; 
                    a.user-img{
                        width:80px;height:80px;
                    }
                    .info-set{
                        margin-bottom: 10px;
                        span{font-size: 14px;}
                    }

                    .ride-detail,.time-detail{
                        li{
                            font-size: 14px;
                        }
                    }
                }

                .user-detail{
                    min-height:270px;
                    .left-side{
                        .star-rating{font-size:12px;}
                        .review-text{line-height:14px;}
                        .vehicle-text{
                            font-size:14px;line-height: 15px;margin-top:5px;
                        }
                    }

                    .right-side{
                        padding-left:0px;font-size: 14px;
                    }

                    &.custom-height{
                        min-height:360px;
                    }
                }

                .referr-detail{
                    .user-infoo{
                        h2{font-size: 16px;}
                        h3{font-size: 14px;}
                    }
                }

                .fare-detail{
                    .fare-row{
                        .value{
                            font-size: 14px;
                        }
                    }
                }
            }

        }
        @media (max-width:$screen-md-max){
            .view-grid{
                .tab-pane{
                    .doc-wrapper {
                        .doc-set{
                            p{font-size:15px;}
                            a{
                                height:140px;
                            }
                        }
                    }
                }
            }
            .top-info{
                .user-detail{
                    min-height:258px;
                    .left-side{
                        .star-rating{font-size:10px;margin-top: 5px;}
                        .review-text{line-height:12px;font-size:14px;}
                        .vehicle-text{
                            font-size:12px;
                        }
                    }
                }

                .referr-detail{
                    min-height:258px;
                    background-size:75%;
                    .left-side,.right-side{margin-top: 10px;}
                }
            }
        }
        @media (max-width:$screen-sm-max){
            .top-info{
                .box{
                    &.custom-height{
                        min-height: 320px;
                    }
                    &.m-t-15{
                        margin-top: 15px;
                    }
                }

                .referr-detail{
                    .left-side,.right-side{
                        width:100px;margin-top: 35px;
                    }
                    .user-infoo{
                        h2{font-size:14px;}
                        h3{font-size: 12px;}
                    }
                }


            }

        }
        @media (max-width:$screen-xs-max){
            .top-info{
                margin: 00;
            }
            .view-grid {
                margin-top:10px;
                .tab-pane{
                    .doc-wrapper{
                        .doc-set{
                            p{
                                font-size:15px;
                            }
                        }
                    }
                    .action-btn{
                     position:inherit;text-align:right;top:0px;
                        a{padding:8px 12px;}
                        
                    }
                }
                .tab-in-tab{
                    .nav{
                        li{
                            &.nav-item{
                                a{
                                    font-size:11px;padding:8px 9px;
                                }
                            }
                        }
                    }
                }
                .tab-view {
                    .nav-tabs {
                        display:inline-block;white-space:nowrap;overflow-x:auto;width:100%;margin-bottom:15px !important;overflow-y:hidden;
                        .nav-item{
                            display:inline-block;
                            a{
                                font-size:14px;padding:10px 15px;
                            }
                        }  
                    }
                }

            }
        }
        @media (max-width:575px){
            .top-info{
                .box{
                    margin-bottom:15px;
                    &.m-t-15{
                        margin-top: 0px;
                    }

                    .info-set{
                        .btn-success{
                            margin-bottom: 10px;
                        }
                    }
                    .commoncheck-wrap{
                        margin-bottom: 15px;
                    }
                }
            }
        }
        @media (max-width:480px){
            .view-grid {
                .action-btn{
                    float:none;
                }
            }
            .top-info{
                .box{
                    .custom-col{
                        max-width:100% !important;flex:0 0 100%;
                    }
                    .right-side{
                        padding-top: 15px;
                    }
                }

                .referr-detail{
                    .left-side,.right-side{
                       padding-top: 0;
                    }
                    
                }
            }

        }
    }
}
