//ng datepicker
//ng datepicker
ngb-datepicker {
    &.dropdown-menu{
        border-radius: 0; box-shadow: 0 0 20px rgba($black, 0.15); border:0; outline:0;
        direction: ltr;
    } 
   .btn-link {
     color:$black; font-size:12px;
     &:hover {
       color: darken($black,20%);
     }
   }
   .bg-primary {
     background-color: $black !important;
   } 
   .ngb-dp-header {
     &.bg-light{
       background-color: transparent !important;
     }
     ngb-datepicker-navigation {
       .custom-select{
         border: none;
       }
       .ngb-dp-arrow {
         .ngb-dp-arrow-btn {
             font-size: 12px;
           &:focus {
             outline: 0;
           }
         }
       }
       .ngb-dp-navigation-select{
         .custom-select{
           &:focus{
             border-color: $black;
             box-shadow: none;
           }
         }
       }
     }
   }
   .ngb-dp-months{
     .ngb-dp-month{
       &:first-child {
         .ngb-dp-week{
           padding-top: .25rem;
           .text-info{color:$black !important; font-style:normal; font-family:$font-avedemi;}
         }
       }
       .ngb-dp-weekdays{
         background-color:$black  !important;border:0;
         .ngb-dp-weekday{
           color: $white;
           font-style: normal;
         }
       }
        .ngb-dp-day{
            font-size: 12px;
             &:focus{
                 outline: none;
             }
         }
     }
   }
  }
