.react-bootstrap-table-pagination{margin-top: 15px;
    .react-bs-table-sizePerPage-dropdown{display: none;}
    .pagination {
        margin-bottom: 0; justify-content: flex-end;
        .page-item{
            .page-link{
                background:#f5f3f3; border-color:#f5f3f3; color: $black;
            }
            &:not(:last-child){margin-right: 10px;}
            &.active,&:hover{
                .page-link{
                    background:$black; border-color:$black; color: #fff;
                } 
            }
        }
    }
}
.ant-pagination{
    li{
        border: 0 !important;
        a,button{
            background:#f5f3f3; border:1px solid #f5f3f3; color: $black;
        }
        &.ant-pagination-item-active,&:hover{
            a,button{
                background:$black; border-color:$black !important; color: #fff !important;
            } 
        }
    }
}