.btn{
    padding:14px 20px;cursor:pointer;border-radius: 6px; font-size: 12px; font-family:$font-avedemi; line-height:normal;
    text-transform: uppercase;
    &.btn-sm{padding:8px 20px;}
    &:hover,&:focus,&:active,&:not(:disabled):not(.disabled):active {
        @include transition(all 0.5s);
    }
    &.disabled, &:disabled{
        pointer-events:none;border-color:$grey !important;color:$grey !important;
        background-color: #eae9e9 !important;
    }
	

     &.btn-dark{
        border-color:$black;color:$white;background-color:$black;
        @include box-shadow(0px, 10px, 15px, rgba($black, 0));
        &:hover,&:focus,&:active,&:not(:disabled):not(.disabled):active {
            border-color:lighten($black, 5%);@include box-shadow(0px, 10px, 15px, rgba($black, 0.2));
            outline: none;color: $white;
        }
    }
     &.btn-warning{
        border-color:$yellow;color:$white;background-color:$yellow;@include box-shadow(0px, 10px, 15px, rgba($yellow, 0));
        &:hover,&:focus,&:active,&:not(:disabled):not(.disabled):active {
            border-color:lighten($yellow, 5%);@include box-shadow(0px, 10px, 15px, rgba($yellow, 0.4));
            outline: none;color: $white;
        }
    }

    &.btn-outline-warning{
        color:$yellow; border-color:$yellow;
        &:hover,&:focus,&:active,&:not(:disabled):not(.disabled):active {
            background-color:$yellow;;color:$black;outline: none;box-shadow: none;
        }
    }
	
     @media(max-width:1599px){
         padding:14px 15px;
     }
	@include media-breakpoint-down(md){
        &.min-w130{
            min-width: 110px;
        }
	}
    @include media-breakpoint-down(xs){
        font-size:12px;padding:12px 15px;
         &.min-w130{
            min-width: 90px;
        }
    }
}
