
.form-group{
  position:relative;margin-bottom:20px;
  &.reason{
    display:none;
  }
  .error{font-size: 14px;}
  &.country_code{
    .ng-select{width:75px !important; .ng-select-container{border-radius:  6px 0 0 6px;}}
  }
//   &.timepicker{
//     .btn-link{color: $black; cursor: pointer;
//         &.disabled{color:#cad4de; opacity: 1; cursor:inherit;}
//     }
//     .btn-outline-primary{height: 40px;  border-color:#D3D3D3; color:#161616c4; background: $white; box-shadow: none;
//         &:focus{border-color:$black;}
//         &.disabled{border-color: #D3D3D3; color:#161616b5; background:#e9ecef; opacity: 1;}
//     }
//     .editable{
//         .form-control{width:50px !important; height: 40px !important;}
//     }
// }
  &.btnCounter{
    .controller{
      position: relative;
      .form-control{padding-right: 75px;}
      button{
        position: absolute;right: 12px; border-radius: 50%;top: 9px;padding: 0;cursor: pointer; height: 25px;width: 25px; text-align: center; border:1px solid $yellow;
        &.icon-remove{right: 45px;}
      }
    }
  }
  &.timepicker{
    .ngb-tp-hour,.ngb-tp-minute{
        position: relative;
        .btn-link{position: absolute; line-height: normal; font-size: 11px; color:$blue-dark; right: 5px; top: 6px;
          ~ .btn-link{top: 20px;}
          &:hover,&:focus{color:$yellow;}
      }
      .form-control{padding-right: 40px;}
    }
    .ngb-tp-meridian{
        .btn{
            border-color: $border-color; color:$blue-dark; padding: 14px 15px;
            &:hover,&:focus{color:$white; border-color: $yellow; background: $yellow;}
        }
    }
  }
  @include media-breakpoint-down(sm) {
      &.timepicker{
        .ngb-tp-hour,.ngb-tp-minute{
          .btn-link{font-size: 10px; top: 5px;
            ~ .btn-link{top: 16px;}
          }
          .form-control{padding-right: 40px;}
        }
        .ngb-tp-meridian{
          .btn{padding: 12px 15px;}
        }
      }
      &.btnCounter{
        .controller{
          button{top: 7px;
          }
        }
      }
  }
}
.form-group, .input-group{
  label{font-family:$font-avereg;color:#9FAAB3;font-size:14px; text-transform: capitalize;}
   .form-control{
      height:44px;color:$black;font-size:14px; border-color:$border-color; 
      font-family:$font-avereg;border-radius:6px;
      &:placeholder{
        color:$grey;
      }
      &:focus{
          outline:none;box-shadow:none;border-color:$yellow;
      }
      &:valid, &:invalid{
          &:focus{
              outline:none;box-shadow:none;
          }
      }
      &[readonly]{
        &:focus{
          border-color:$border-color;
        }
      }
  }

  textarea.form-control{height: auto;resize:none}
  @include placeholder{
      color:$grey;
  }
  .custom-file{
    height: 44px;
    label{
      background-color:$grey-bg; height: 44px; border-color: #E2E2E2; padding:10px 10px; font-size: 14px; margin-bottom: 0;color:$grey;
      font-family: $font-med ;
      &:after{
        background-image: url("assets/images/input-file.png"); content: "" !important; background-repeat: no-repeat; background-position:center center;
        border: 0;background-color:transparent; width: 40px; height: 44px;
      }
    }
    .custom-file-input:focus ~ label{
      border-color: $green; box-shadow: none;
    }
  }
  // for icon
  .icon{
    position: relative;
    &.right{
      input{
        padding-right:43px;
        + span{
          font-size:22px;color: #415769;z-index: 1;
          @include absolutecenter($axis:"y");right:12px;
        }
      }
    }

    &.left{
      input{
        padding-left:43px;
        + span{
          font-size:22px;color: #415769;z-index: 1;
          @include absolutecenter($axis:"y");left:12px;
        }
      }
    }
    
     
  }
  @include media-breakpoint-down(sm) {
    label{font-size: 13px;margin-bottom: 5px;}
    .form-control{
      font-size:13px;height:40px;
      &:placeholder{
        font-size:13px;
      }
    }
    .icon{
      &.right , &.left{
        input{
          + span{
            font-size:20px;
          }
        }
      }
    }

  }
}

.currency_set_rate{
position: relative; margin-left: 90px;
  h6{position: absolute;left:-90px;top:40px;}
  .equal_sign{ @include absolutecenter(x); top:40px; }
  @include media-breakpoint-down(sm){
    h6, .equal_sign{top:34px;}
  }
  @include media-breakpoint-down(xs){
    margin-left:0;
    h6{position: initial; font-size: 14px;}
    .equal_sign{ top:53%; @include translate(0, -54%); left:0;}
  }
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $yellow;
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset;
  transition: background-color 5000s ease-in-out 0s;
}

// custom radio and checkbox
.custom-radio{
  padding-left: 0px;
  .custom-control-input {
    &:focus {
      ~.custom-control-label {
        &:before {
          box-shadow: none;
        }
      }
    }
  }
  .custom-control-label {
    padding-left: 28px;width:100%; cursor: pointer;
    &:before,&:after {
      border-radius:50%;
    }
  &:before{
    height:20px;width:20px;border-radius:50%;left:0px;top:1px;
  }
  &:after{
    width:10px;height:10px;background-color:transparent;left:5px;top:6px;
  }
  }
  .custom-control-input:checked~.custom-control-label {
    color:$black;
    &:after {
      background-color:$yellow;background-image:none;
    }
    &:before {
      border-color: $yellow;background-color:transparent;
    }
  }
  
    @include media-breakpoint-down(sm){
      .custom-control-label{
        &:before{
          height:16px;width:16px;top:2px;
        }
        &:after{
          height:8px;width:8px;top:6px;left:4px; 
        }
      }
    }
}
.custom-checkbox{ 
    margin-top: 10px; padding-left: 0;
    &.custom-control-inline{
       &:last-child{margin-right: 0;}
    }
    .custom-control-input {
      &:focus {
        ~.custom-control-label {
          &:before {
            box-shadow: none;
          }
        }
      }
    }
    &.interactive-effect {
      .custom-control-label {
        &:after {
          animation: radius-shadow 0.4s;
        }
      }
    }
    .custom-control-input:checked~.custom-control-label {
      &:after {
        background-image: none;
       background-image: none;border-left: 2px solid $yellow !important;border-bottom: 2px solid $yellow !important;transform: rotate(-53deg);width: 11px;height: 6px;top: 7px;left: 5px;
      }
      &:before {
        border-color: $yellow !important;border-radius:3px;
        background: transparent !important;
      }
    }
    .custom-control-label {
      width: 100%;
      cursor: pointer;
      color: #282828;
      position: initial;padding-left: 28px;font-size: 15px;
      &:before {
         content: ""; position: absolute; left: 0px; display: block; width: 20px;
         height: 20px; border-radius: 3px; background: $white; top: 1px; border: 1px solid #ccc !important;
         cursor: pointer; transition: all 0.3s;

      }
      &:after {
        content: ""; position: absolute; display: block; left:3px; top:4px; transition: all 0.3s; cursor: pointer;
      }
    } 
}


.uploaded-image-list{
    position: relative;height: 96px; width: 96px; border-radius: 3px; display: inline-block; margin-bottom:10px;
  &:not(:last-child){
    margin-right: 15px;
  }
    label{
      input{
        position: absolute;left: 0;width: 100%;top: 0;height: 100%;z-index: 1;opacity: 0;
        &:checked ~ .check-icon{
          visibility: visible;
        }
      }
      img{
        width: 100%; border-radius: 3px;
      }
      .remove-icon{
        height: 20px;width: 20px;background: $green;color: $white;border-radius: 50px;position: absolute;top: 5px;right: -10px;
        text-align: center;font-size: 8px;line-height: 23px;text-align: center; cursor: pointer; z-index:2; @include transition(all 0.4s);
      }
      .check-icon{
          height: 40px;width: 40px;border-radius: 50px;position: absolute;top: 50%;left: 50%;text-align: center;font-size: 12px;line-height: 21px;cursor: pointer;z-index: 2;transform: translate(-50%,-50%);text-align: center;line-height: 40px;background: rgba(225,225,225,0.5);visibility: hidden;
        img{
          max-width: 25px;
        }
      }
      &:hover{
        .remove-icon{
          opacity: 1;
        }
      }
    }
  }
.common-upload-box{
  &.drag_drop{
        padding:30px 42px;position: relative;border:2px dashed #EBEBEB;border-radius:3px;
       p{
      position: relative; color: $black; font-size: 14px; display: inline-block;  font-family: $font-med ; 
        text-align: center; line-height: normal;margin:15px 0;
      // font-family:$font-med;
      span{
        font-size:16px; cursor:pointer;
      }
    
    }
    a{
      color: #858585;
    }
        input{
          position: absolute; margin: 0; padding: 0;
          width: 100%; height: 100%;  outline: none;  opacity: 0;
          left:0;  top:0; z-index: 2;cursor:pointer;
        }
  }
}