.instant_messagebutton{
    position: fixed;right:40px;z-index:700;bottom:30px;
    a{
     background-color:$black;display: inline-block;padding: 9px;border-radius: 50%;color:#fff;height: 50px;width: 50px;font-size: 20px;text-align: center;
     box-shadow:0 5px 10px 0 rgba(35,50,56,0.3);
     &:hover{
         background-color:darken($black, 5%);
     }
    }
}

.message-box-board{
    width: 480px;border-radius: 3px;background: #FFF;box-shadow: 0 10px 20px 0 rgba(35,50,56,0.3);position: fixed;right:20px;z-index:700;
    -webkit-animation-name:rotateOutDownRight;animation-name:rotateOutDownRight;bottom:100px;visibility:hidden;-webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition-timing-function: cubic-bezier(0.86,0,0.07,1);
    transition-timing-function: cubic-bezier(0.86,0,0.07,1);
    opacity: 0;
    .card{
        .card-header{
            position: relative;background-color:$black;
            .card-title{
                margin-bottom:0px;font-size:18px;color:#fff;
            }
            .close_card{
                position: absolute;right:15px;top:11px;color:#fff;
            }
        }
        .card-body{
            position: relative;
            .form-group{
                margin-bottom:15px;
                label{
                    font-size:16px;
                }
                .radiobox{
                    label{
                        margin-bottom:0px;
                    }
                }
                .custom-control-input:checked~.custom-control-indicator{
                    background-color:$black;box-shadow:none;
                }
                .form-control{
                    height:42px;font-size:16px;
                    @at-root #{selector-unify(&, textarea)} {
                        height:auto;
                    }
                }
            }
            &:after{
                position: absolute;content: '';display: block;bottom: -7px;right:35px;width: 20px;height: 20px;-webkit-border-radius: 3px;
                border-radius: 3px;-webkit-transform: rotate(45deg);transform: rotate(45deg);z-index: 15;background: #FFF;
            }
        }
    }
    &.active{
        opacity:1;visibility:visible;-webkit-animation-name:rotateInUpRight;animation-name: rotateInUpRight;
    }
}