.changepass_page{
    .page_content{
        .card{
            .card-block{
                .changepassword{
                    h3{
                        color: $black;
                        font-family: $font-avedemi;
                        font-size: 22px;
                        margin: 0px 0 20px;
                    }
                }
            }
        }
    }
}