.message-page{
    .page_content{
        .card{
            .card-block{
                .form-group{
                    .attach-icon{
                        background-color: $black;border-radius:50%;display: block;width:35px;
                        height:35px;color:$white;text-align:center;line-height: 35px;cursor:pointer;
                    }
                }

                .attact-preview{
                    ul{
                        li{
                            width:120px;height:120px;position: relative;vertical-align:top;
                            background-color:#f2f2f2;margin-bottom: 15px;margin-right: 15px;
                            .img-wrap{
                                text-align:center;
                                .preview-icon{font-size: 50px;padding: 35px 0;}
                            }
                            .remove{
                                position: absolute;right:0;top:-5px;color:$black;font-size: 20px;;
                            }
                            
                        }
                    }
                }
                
            }
        }
    }
}