.manage-ride{
    .page_content {
    	.card{
			background: transparent;border-color:transparent; height:auto; margin-bottom: 15px; position: static;
			.card-header{
				position: relative;@include box-shadow(0px 2px 12px rgba($black,0.12)); padding:15px; height:auto;
				.search{
					float:left;width:100%;
					.input-group{
						.form-control{
							font-size:16px;height:56px;border:0;border-top-left-radius: 10px;cursor:auto;
							font-family: $font-avedemi;text-transform:uppercase;
							&:disabled{
								background: $white;
							}
						}
						.input-group-btn{
							.btn-secondary{
								background-color:$white;border: none;cursor: pointer;border-radius:0;
								width:56px;height:56px;line-height:56px;padding:0;
								&:focus,&:hover{
									box-shadow: none;opacity: 0.8;
								}
								img{
									width: 25px;
								}
							}
						}
					}
				}
				.sort-by{
					position: absolute;right:1px;
					.dropdown{
						.btn-secondary{
							background: $black;border-radius:0;padding:0;width:56px;height:56px;line-height:56px;border-color:transparent;
								border-top-right-radius: 10px;
							.menu-icon{
								margin-top: 17px;
								span{
									background: #ec870e;display:block;height:3px;width:30px;margin:0 auto;
									transition:width 0.5s cubic-bezier(0.38, 0.8, 0.32, 1.07);
									+ span{
										width:20px;margin-top:5px;
										+ span{
											width:10px;
										}
									}
								}
							}
							&:after{display:none;}
							&:hover{
								
								.menu-icon{
									span{
										width:30px;
									}
								}
							}
							&:focus{box-shadow:none;}
							&[aria-expanded="true"]{
								.menu-icon{
									span{
										width:30px;
									}
								}
							}
						}

						.dropdown-menu{ 
							border:0;border-radius:0;@include box-shadow(0px 0px 26px rgba($black,0.2));padding:0;
							.dropdown-item{
								color:#B1B1B1;padding:8px 15px;
								&:hover{
									background: #F0F0F0;color:$black;
								}
								&.active{
									background: $black;color:$white;
								}
							}
							&:before{
								content:'';display: block;border-top: 0;
								border-right: 15px solid transparent;border-bottom: 15px solid #fff;border-left: 15px solid transparent;
								width: 15px;right: 15px;top: -15px;position: absolute;
							}
						}
					}
				}
			}
	        .card-body {
				height: auto;
				.search {
					.form-control{padding-right: 85px;}
					.search_btn{ font-size: 20px;
						+ .search_btn{right: 55px;}
						&:hover{color:#4099ff;}
					}
				}
				&.ongoingCard{
					.search{padding-top:5px;}
					.row{margin: 0 -5px;
						div[class*="col-"] {padding: 0 5px;}
						.form-control{padding-right: 20px;
							&.form-search{border-right:1px solid #E9EFE9;}
						}
					}
					.lastField{position: relative;}
					@media(max-width:576px){
						.search{padding-top: 0;}
						.row{
							.form-control{
								&.form-search{border-right:0;}
							}
						}
					}
				}
				.listScroll  {
					background-color:$white;max-height:700px;
					border-right: 1px solid #ebebeb;
					.mCSB_inside>.mCSB_container{margin-right:0;}
					.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
						background-color:#161616;
					}
					

					  ul.nav-tabs{
						margin-bottom: 0px;padding: 0;
						> li {
							float: none;
							display: block;
							width: 100%;
							&+li {
								border-bottom: 1px solid #ebebeb;
							}
							
							a {
								text-decoration: none;
								display: block;
								padding: 15px 20px;
								position: relative;
								border-radius: 0;color: #7e7e7e;font-size: 16px;
								.inner {
									ul{   
										padding: 0;
										   li{
											background-repeat: no-repeat;background-position: left center;padding: 6px 0 0 25px;
											color:#B1B1B1;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;width: 100%;
											&.from{
												background-image: url("assets/images/map-mark-ico.png");
											}
											&.to{
												background-image: url("assets/images/to-ico.png");
											}
											&.date{
												background-image: url("assets/images/calender-ico.png");
											}
										   
										}
									}
								}
								&.active{
									background-color:$black;border-color:transparent;
									.inner {
										ul{
											li{
												color:#d8d8d8;
											}
										}
									}
								}
								&:hover{
									border-color:transparent;
								}
							}

						}
					}
				}
	            &.ride-detail {
	                padding: 0;

					// xxxxxxxxx


					.right-section{
						padding-left: 0;
						.tab-content {
							margin-left: 25px;
							.tab-pane{
								.view-heading{
									font-family:$font-avedemi;font-size:16px;color:#000;margin-bottom:25px;text-transform: uppercase;
						            
						        }
								.top-info{
								 	.box{
								 		background:$white;@include box-shadow(0 0 30px rgba($black,0.06));
								 		padding:11px 30px;margin-bottom:30px;border-radius:10px;
								 		.img-wrap{
								 			float:left;margin-right:30px;margin-top: 10px;
								 			a{
								 				display: inline-block;width:130px;height:130px;overflow: hidden;
								 				img{width: 100%;}
							 				}
								 		}
								 		.user-info{
											margin-top:15px;color:#747474;
											h2{
												font-size:20px;color:#747474;@include text-overflow();
											}
											h4{font-size: 18px;}
								 		}
								 		
								 		
								 	}
								}
								.map-wrap{
								 	width: 100%;background:$white;@include box-shadow(0 0 30px rgba($black,0.06));
								 	display: block;width: 100%;border-radius:10px;
								 	.ride-info{
								 		padding:20px 30px;
								 		.info-box{
								 			margin-bottom: 15px;
								 			p{margin-bottom:0px;font-size: 15px;}
											span{
												color:$black;font-family:$font-avedemi;font-size: 18px;
											}
								 		}
								 		.map-marking{
								 			position: relative;
								 			&:before{
								 				content:'';width:1px;height:125px;background: #d8d8d8;
    											position: absolute;left: -80px;top: -50px;
								 			}
											ul{
												width:80%;height:2px;margin: 0 auto;margin-bottom:50px;margin-top:50px;
												position: relative;border-radius:30px;

												background: #f7941d; /* Old browsers */
												background: -moz-linear-gradient(left, #f7941d 1%, #33d276 100%); /* FF3.6-15 */
												background: -webkit-linear-gradient(left, #f7941d 1%,#33d276 100%); /* Chrome10-25,Safari5.1-6 */
												background: linear-gradient(to right, #f7941d 1%,#33d276 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
												filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7941d', endColorstr='#33d276',GradientType=1 ); /* IE6-9 */


												&:before{
													content:'';width:40px;height:40px;position:absolute;top:-35px;left:-15px;background-size: contain;
													background-image:url("assets/images/map-mark-xl.png");background-repeat:no-repeat;
												}
												&:after{
													content:'';width:40px;height:40px;position:absolute;top:-35px;right:-25px;background-size: contain;
													background-image:url("assets/images/to-ico-xl.png");background-repeat:no-repeat;
												} 
												li{
													margin-top: 10px;font-size:16px;font-family:$font-avedemi ;
													&.pickup{
														margin-left: -125px;width: 250px;text-align: center;
													}
													&.info{
														position: absolute;top: -50px;font-family:$font-avedemi ;
														display: block;width: 100%;text-align: center;
														&:after{
															content:'';
															background-image:url("assets/images/arrow-right.png");
															background-repeat: no-repeat;height: 75px;display: block;background-position: center;
														}
													}
													&.dropoff{
														float: right;
														margin-right: -85px;width:180px;text-align: center;
													}
												}
											}
								 		}
								 	}

								 	.map{
								 		padding:10px;
										iframe{
											width: 100%; height:350px;display: block;
										}
									}
								}
								
							}
						}
					}
					@media(max-width:$screen-md-max){
						.left-section{
							.left-top-header{
								.sort-by{
									.dropdown{
										.dropdown-menu{max-height:250px;overflow-y:scroll;}
									}
								}
							}   
						}

						.right-section{
							.tab-content{
								.tab-pane{
									.map-wrap{
										.ride-info{
											.map-marking{
												&:before{display: none;}
											}
										}
									}
								}
							}
						}
					}
					@media(min-width:$screen-md-min)and(max-width:1440px){
						.left-section{
							.listScroll {
								max-height:710px;
							}
						}
					}
					@media(min-width:1280px)and(max-width:1366px){
						.left-section{
							.listScroll {
								ul { 
									li{
										a {
											font-size: 15px;
										}
									}
								}
							}	
						}
						.tab-content {
							
							.tab-pane {
								.form-horizontal{
									.form-group{
										.control-label{
											font-size: 16px;
											
										}
										.form-control-static{
											font-size: 16px;
										}
									}
								}
							}
						}
					}
					@media(min-width:$screen-md-min)and(max-width:$screen-md-max){
						
						.left-section{
							.listScroll {
								max-height:1065px;
								ul {
									 
									li{
										a {
											font-size: 14px;
										}
									}
								}
							}
						}	
						.right-section{
							.tab-content{
								.tab-pane{
									.top-info{
										.box{
											margin-bottom:30px; 
										}
									}
									.map-wrap{
									 	.ride-info{
									 		.map-marking{
												ul{
													width:60%;margin-top: 80px;
												}
									 		}
									 	}
									}
							 	}
							}
					 	}
						
					}
					@media(min-width:$screen-sm-min)and(max-width:$screen-sm-max){
						.left-section{
							.listScroll {
								max-height:940px;
								ul {
									 
									li{
										a {
											font-size: 14px;
										}
									}
								}
							}
						}
						.right-section{
							.tab-content{
								.tab-pane{
									
									.top-info{
										.box{
											margin-bottom:30px;padding:10px;
											.img-wrap{
												a{
													width: 110px;height: 110px;
												}
											}
										}
									}
									.map-wrap{
									 	.ride-info{
									 		padding:10px;
									 		.info-box{
									 			font-size:16px;
									 		}
									 		.map-marking{
												ul{
													width:80%;margin-bottom:100px;
													li{
														font-size:16px;
														&.pickup{
															margin-left:0px;width:auto;margin-top: 38px;position: relative;
															&:before{
																content:'';width:20px;height:20px;position:absolute;top:0px;left:-20px;background-size: contain;
																background-image:url("assets/images/map-mark-xl.png");background-repeat:no-repeat;
															}
												
														}
														
														&.dropoff{
															float: none;position: relative;
															margin-right: 0px;width:auto;
															&:before{
																content:'';width:20px;height:20px;position:absolute;top:0px;left:-20px;background-size: contain;
																background-image:url("assets/images/to-ico-xl.png");background-repeat:no-repeat;
															}
														}
													}
												}
									 		}
									 	}
									}
							 	}
							}
					 	}
					}
					@media(max-width:$screen-xs-max){
						.left-section{
							padding-right: 15px;margin-bottom:10px;
							 
							.listScroll {
								max-height:250px;
								ul { 
									li{
										a {
											font-size: 12px;
										}
									}
								}
							}
							.search{
								.input-group{
									.form-control{
										font-size: 16px;
									}
									.input-group-btn{
										.btn-secondary{
											img{
												width: 23px;
											}
										}
									}
								}
							}
						}
						.right-section{
							.tab-content{
								margin-left: 15px;
								.tab-pane{
									
									.top-info{
										.box{
											margin-bottom:15px;padding:10px;
											.img-wrap{
												margin-right:15px;
												a{
													width: 80px;height: 80px;
												}
											}
											.user-info{
												h3{margin-bottom: 10px;font-size: 14px;}
												h2{margin-bottom: 5px;font-size: 16px;}
												
											}
										}
									}
									.map-wrap{
										.ride-info{
									 		padding:10px;
									 		.info-box{
									 			font-size:16px;
									 		}
									 		.map-marking{
												ul{
													width:80%;margin-bottom:100px;
													li{
														font-size:16px;
														span{
															@include text-overflow;width:80% !important;display: block;
														}
														&.pickup{
															margin-left:0px;width:auto;margin-top: 38px;position: relative;text-align:left;
															&:before{
																content:'';width:20px;height:20px;position:absolute;top:0px;left:-20px;background-size: contain;
																background-image:url("assets/images/map-mark-xl.png");background-repeat:no-repeat;
															}
												
														}
														&.info{
															span{margin: 0 auto;} 
														}
														
														&.dropoff{
															float: none;position: relative;display:block;text-align:left;
															margin-right: 0px;width:auto;
															&:before{
																content:'';width:20px;height:20px;position:absolute;top:0px;left:-20px;background-size: contain;
																background-image:url("assets/images/to-ico-xl.png");background-repeat:no-repeat;
															}
														}
													}
												}
									 		}
									 	}
									}
							 	}
							}
					 	}
					}
	            }
			}
			@media(max-width:$screen-sm-max){
				width: 100%; margin-bottom: 20px;
				.card-body{
					.search {
						.search_btn{ font-size: 18px;
							+ .search_btn{right: 50px;}
						}
					}
					.listScroll{max-height:450px;}
				}
			}
			@media(max-width:$screen-xs-max){
				.card-body{
					.search {
						.search_btn{ font-size: 16px;
							+ .search_btn{right: 45px;}
						}
					}
					.listScroll{max-height:250px;}
				}
			}
        }
    }
}