.setting-page{
    .page_content{
        .card{
            .card-block{
                .nav-tabs{
                    margin-bottom: 30px;
                    .nav-item{
                       a{
                            padding: 15px 30px;border-radius: 0;border: transparent;border-bottom-width:3px;color:$black;position: relative;font-family:$font-avedemi;text-transform:uppercase;
                            &:after{
                                width:0%;content:'';height:3px;background:$black;left:0;bottom:0;display:block;position: absolute;transition:width 0.5s;
                            }
                            &.active{
                                &:after{
                                    width:100%;
                                }
                            }
                        }
                    }
                    @media (max-width:$screen-xs-max){
                        margin-bottom:18px;
                        .nav-item{
                            a{
                                padding:12px 22px;font-size:14px;
                            }
                        }
                    }
                     @media (max-width:360px){
                        .nav-item{
                            a{
                                padding:10px;font-size:12px;
                            }
                        }
                    }
                }



                .tab-content{
                    position: relative;
                    .action-btn{
                        position: absolute;right: 0px;    top: -68px;
                        .btn{
                            padding: 10px 15px;line-height:0;
                        }
                    }
                    .mapView{
                        .action-btn{
                            position: absolute;right: 136px;    top: -4px;
                        }
                    }
                    .heading-row{
                        margin-bottom:15px;
                        h2{
                            float:left;font-family:$font-avedemi;color:$black;margin-top: 10px;margin-bottom: 0px;
                            font-size:18px;display:inline-block;text-transform:uppercase;
                        }
                        .right-side{
                            float:right;
                            .add-more{
                                background-color:$black;color:$white;text-align: center;padding:9px 15px;display:inline-block;font-family: $font-avedemi;
                            }
                        }
                    }
                    @media (max-width:$screen-xs-max){
                        .action-btn{
                            top:-58px;
                            .btn{
                                padding:8px 12px;
                            }
                        }
                        .heading-row{
                            h2{
                                font-size:16px;
                            }
                            .right-side{
                                .add-more{
                                    padding:7px 13px;font-size:13px;
                                }
                            }
                        }
                    }
                    @media (max-width:575px){
                        .action-btn{
                            position: inherit;
                        }
                        .heading-row{
                            h2{
                                font-size:15px;margin-bottom: 10px;float: none;
                            }
                            .right-side{
                                float:none;display: block;
                            }
                        }
                    }
                    
                }
            }
        }
        table{
            .timepicker{
                .btn-link{color: $black; cursor: pointer;
                    &.disabled{color:#cad4de; opacity: 1; cursor:inherit;}
                }
                .btn-outline-primary{height: 40px; padding: 0 15px; border-radius:0; border-color:#D3D3D3; color:#161616c4; background: $white; box-shadow: none;
                    &:focus{border-color:$black;}
                    &.disabled{border-color: #D3D3D3 !important; color:#161616b5; background:#e9ecef !important; opacity: 1;}
                }
                .editable{
                    .form-control{width:50px !important; height: 40px !important;}
                }
            }
            &.admin_table{
                td{
                    .editable{
                        .form-control{width:350px; height: 30px;}
                    }
                }
            }
        }
    }
}

.mapSwitch{ margin-bottom: 10px;
    .commoncheck-wrap{
        height: 14px; width: 40px;
        .slider{
            &:before{height: 20px; width: 20px; bottom:-3px;}
        }
    }
}
.country_code{
    .input-group-prepend{
        select.form-control{border-top-right-radius:0; border-bottom-right-radius:0;}
    }
}