.common-theme{
    .modal-header{
        h5{font-family: $font-avedemi;font-size:16px;color:$black;text-transform:uppercase;}
        .close{cursor:pointer;}
    } 
    .modal-body{
        padding: 30px 15px;
        .form-group{
            label{font-size: 16px;}
            .form-control{
                height: 40px;font-size:16px;
                &.file-control{
                  height:auto;
                }
            }
            textarea.form-control{height:auto;}

            @include placeholder {
                font-size:14px;
            }

            .preview-img{
                width:120px;height:120px;overflow:hidden;border:3px solid #ddd;display: table-cell;vertical-align: middle;
                img{width:100%}
            }
        }

        .select-category{
            h5{font-size: 16px;}
        }

        .btn-primary{
            padding:10px 25px;
            @media (max-width:480px){
                padding:8px 18px;font-size:15px;
            }
        }

        .star-rating{
            color:#f9c801;font-size: 20px;
        }
    }
}


// .booked-modal{
//     .modal-body{
//         padding:0px;padding-top:30px;
//         .picture{
//             margin-bottom:15px;
//             img{
//                 width:100px;height:100px;  
//             }
//         }
//         h3{
//             font-size:20px;color:#73DB78;
//         }
//         .carno{
//             font-family:$font-avedemi;margin-bottom:20px;
//         }
//         .btn{
//             border-radius:0 0 4px 4px;
//         }        
//     }
// }