.bookingdetail-modal{
    .modal-body{
        padding:15px 0px 0;
        .passengers{
            overflow:hidden;padding:0 30px;
            img{
                margin-bottom:25px;max-width:180px;
            }
            h5{
                font-family:$font-avedemi;font-size:20px;
            }
        }
        .farediv{
            border-bottom:0px solid #D6D6D6;margin-top:40px;padding-bottom:20px;box-shadow: 0px 9px 5px -5px rgba(0,0,0,0.15);position:relative;
            .col{
                &+.col{
                    border-left:1px solid #D6D6D6;
                }
                h5{
                    font-family:$font-avedemi;font-size:18px;color:#434343;
                }
                span{
                    color:#8E8E8E;font-size:20px;
                }
            }
        }
        .detailbox{
            padding:10px 30px;border-radius:0 0 6px 6px;background-color:#f5f5f5;
            ul{
                margin-bottom:0px;
                li{
                    padding:14px 0px;
                    &+li{
                        border-top:1px solid #D6D6D6;
                    }
                    h4{
                        font-size:16px;font-family:$font-avedemi;color:#434343;text-transform:uppercase;margin-bottom:7px;
                        span{
                            font-family:$font-avereg;font-size:16px;color:#8E8E8E;
                        }
                    }
                    h5{
                        font-size:16px;font-family:$font-avedemi;color:#434343;
                    }
                    p{
                        font-size:16px;color:#8E8E8E;margin-bottom:0px;
                    }
                }
            }
        }
    }
}