.btn:focus, .btn.active,input:focus, input:hover,button:focus, button:hover, .selectpicker:focus,a:focus,.btn:active:focus{@include no-outline()}
.noradius{border-radius:0px !important}
.white{color:$white !important;}
.blue{color:$blue !important;}
// .mb-0{margin-bottom:0px !important;}
.mb-5{margin-bottom:5px !important;}
.mb-10{margin-bottom:10px !important;}
.mb-15{margin-bottom:15px !important;}
.mb-20{margin-bottom:20px !important;}
.mb-30{margin-bottom:30px !important;}
.mt-10{margin-top:10px !important;}
.mt-15{margin-top:15px !important;}
.mt-0{margin-top:0px !important;}
.p-0{padding:0;}
.pl-0{padding-left:0;}
.errorMessage{color:red;}
.green{color: #53ae79 !important} 
.yellow{color: #ec870e}
.red{color: #ec3e21 !important}
.b-b{border-bottom: 1px solid #ebebeb} 
.b-0{border:0px !important} 
.bg-0{border:0;background:transparent;}
.custom-control{
    cursor:pointer;margin-top: 40px;
    input[type="radio"]{
        &:checked{
            + span{
                &:after{
                    background: $black;
                }
            }
        }
    }
    span{
        position: relative;
        &:before{
            content:'';width:15px;height:15px;background:$white;
            position: absolute;left:-25px;border-radius:50%;top:5px;z-index: 3;
        }
        &:after{
            content:'';width:25px;height:25px;background:#ddd;
            position: absolute;left:-30px;border-radius:50%; transition:background  0.5s;
        }
    }
    + .custom-control{margin-left: 25px;}
}
.orange{
    color:$black;
    &:hover,&:focus{
        color:darken($black, 10%)
    }
}
.col-xs-full{
    @media(max-width:480px){
        width:100%;
    }
}
a{
    transition:0.5s; outline:none;text-decoration:none;
    &:hover, &:focus{
        text-decoration:none;
    }
}
textarea{
    resize:none;
}
.close_modal{
    opacity:1;
}
.close_modal:hover,.close_modal:focus{
    opacity:1;
}

.error{
    color:red;
}
.loadbtn{
    a{
        font-size: 14px; padding: 8px 15px;
    }
}
body{
    font-size:16px;margin:0;
    color:$black; font-family:$font-avereg;
    @media(max-width:$screen-sm-max){
        padding-left:0;
    }
    @media(max-width:767px){
        font-size:14px;padding-top:50px;
    }
}
.btn{
    cursor:pointer;
}
.btn-primary{
    background-color:$blue;color:$white;font-size:16px; border-color:$blue;
    text-transform:uppercase; border-radius:6px;position:relative; padding:8px 20px;
    line-height:32px;
    &:hover,&:active,&:focus, &:active:focus, &:active:hover{
        background-color:darken($blue, 2%);border-color:darken($blue, 2%);
        box-shadow:none;
    }
    @media(max-width:$screen-xs-max){
        font-size:16px;
    }
    img{
        margin-bottom: 4px;margin-right: 5px;
    }
}

.btn-warning{
    background-color:$black;color:$white;font-size:16px; border-color:$black;
    text-transform:uppercase; border-radius:2px;position:relative; padding:8px 20px;
    line-height:32px;font-family:$font-avedemi;
    &:hover,&:active,&:focus, &:active:focus, &:active:hover{
        background-color:darken($black, 2%);border-color:darken($black, 2%);
        box-shadow:none;color:$white;
    }
    @media(max-width:$screen-md-max){
        font-size:14px;padding: 4px 18px;line-height: 28px;
    }
     @media(max-width:$screen-xs-max){
        font-size:13px;padding: 3px 16px;
    }
    img{
        margin-bottom: 4px;margin-right: 5px;
    }
}
.btn{
    &.btn-sm{
        font-size: 12px;
        padding: 4px 15px;
    }
}
.form-group{
    margin-bottom:25px;
    label{
        font-size:18px;color:$black;
        @media (max-width:1440px){
            font-size:16px;
        }
       
    }
    .select-picker{
        .dropdown{
            display: block;
            .btn-secondary{
                width:100%;text-align: left; background: transparent;border-radius: 0;border-color: lightgrey;
                color: #495057;
                &:focus{box-shadow:none}
                &:after{position: absolute;right: 10px;top: 16px;}
            }
        }
        .dropdown-menu{
            border-radius: 0;margin-top: 0px;border-top: 0;padding:0;min-width: 400px;z-index: 5;
            .dropdown-item{
                padding:8px 15px;
                a{color:$black}
                &.search{
                    padding:5px 10px;padding-top: 12px;
                    input{
                        height: 38px;font-size: 14px;border-radius: 0;
                    }
                    @include placeholder{font-size: 14px}

                    .input-group-btn{
                        .btn{height:38px}
                    }
                }
                &.dropdown-divider{margin-top: 0;}
                &.active{
                    background-color:$black;
                    a{color:$white}
                    &:hover,&:focus,&:active:focus,&:active,&:active:hover {
                        background-color:$black;color:$white;
                    }
                }
                &:hover,&:focus,&:active:focus,&:active,&:active:hover {
                    background-color:transparent;outline:none;
                }
            }
        }
    }
    &.btn-file{
        margin-bottom: 50px;
        .inserted_img{
            img{width:150px;}
        }

    }
     @media (max-width:$screen-md-max){
         label{
             font-size:16px;
         }
          &.btn-file{
            margin-bottom: 35px;
            .inserted_img{
                img{width:120px;}
            }
        }
    }

    @media(max-width:$screen-sm-max){
            .select-picker{
                .dropdown-menu{
                    min-width:auto;max-width: 280px;
                }
            }
    }

    @media(max-width:$screen-xs-max){
        margin-bottom: 15px;
        label{
             font-size:14px;
        }
        &.btn-file{
            margin-bottom: 25px;
            .inserted_img{
                img{width:100px;}
            }
        }
        .custom-control{
            margin-top:20px;margin-bottom: 20px;font-size: 16px;
        }
    }
}
.form-control{
    border:1px solid #D3D3D3;height:50px;font-size:18px;border-radius:2px;
    box-shadow:none;
    &:focus{ 
        border-color: $black; 
        box-shadow: none;
    }
    @at-root #{selector-unify(&, textarea)} {
        height:auto;
    }
    @media (max-width:$screen-md-max){
        font-size:16px;height:45px;
    }
    @media(max-width:$screen-xs-max){
        font-size:14px;height:40px;
    }
}

@include placeholder {
    color: $gray;font-size:14px;
    @media (max-width:$screen-md-max){
        font-size:14px;
    }
    @media(max-width:$screen-xs-max){
        font-size:14px;
    }
}
.alert{
    @include border-all(0 0 0 3px, solid, transparent);padding:5px 15px;border-radius:0px; overflow-wrap: break-word;
    &.alert-danger{
        color: #a94442;
        background-color: #f2dede;
        border-color: #A94442;
    }
    &.alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #59935A;
    }
    &.alert-info{
        color: #31708f;
        background-color: #d9edf7;
        border-color: #4C8BAA;
    }
    &.alert-warning {
        background-color: #F6F2DD;
        border-color: #AF9260;
        color: #8A6D3B;
    }
}

//modal center
.modal-center{
    text-align: center;padding: 0!important;
    &:before{
        content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -4px;
    }
    .modal-dialog {
        display: inline-block;text-align: left;vertical-align: middle;
    }
    @media(max-width:767px){
        &:before{
            display:initial;margin-right:0px;
        }
        .modal-dialog{
            display:block;
        }       
    }
}
#preloader {
    position: fixed;width: 100%;height: 100%;margin: auto;left: 0; right: 0; top: 0; bottom: 0;background:#e7e7e7;z-index: 999999999999;text-align: center;
    .inner {
        position: relative;height:100%;width:100%;
        overflow: hidden;z-index: 9;  
        img{
            position: absolute;left: 50%;top: 50%; transform: translate(-50%,-50%);width:200px;
        }  
    }    
}
//uploading img
.uploadimg{
    display:inline-block; position: relative;
    .img{
        width:120px;height: 120px;border:1px solid $yellow; border-radius:100%; position: relative; overflow: hidden;
        img{ width:100%;height:100%;}
    }
    label{
        width: 30px;  height: 30px;  position: absolute;  right: -8px;  bottom: 0px;  color:$white !important; line-height:25px;
        border: 1px solid $yellow;  border-radius: 50%;  font-size: 18px;  text-align: center;   padding: 3px; background-color:$yellow;
        @include transition(all 0.5s);
        cursor: pointer;
        &:hover{background-color:lighten($color: $yellow, $amount: 10%)}
    }
    input{display: none;}
}
@include media-breakpoint-down(sm){
    .uploadimg{
        margin-bottom: 20px;
        .img{
            width:90px;height:90px;
        }
        label{
            width:25px;height:25px;right:-4px;font-size: 14px; line-height:19px;
        }
    }
}
::-webkit-scrollbar {
    width: 5px;height: 5px;
    @include media-breakpoint-down(lg) {
    	width: 4px;height: 4px;
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none; background-color: #e2e5e6;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none; background-color: $black; border-radius:5px;
}